<div class="message-container" *ngIf="detail.departmentId">
    <div class="message-box" [style]="detail.assignedId!==userId?'height:calc(100% - 25px)':'height:calc(100% - 125px)'">
        <mat-card class="message-box-card">
            <mat-card-content class="message-box-content">
                <cdk-virtual-scroll-viewport class="scrolling-content" itemSize>
                    <div class="msg-container" *cdkVirtualFor="let message of messageHandler; let $index = index ">
                        <!-- <div class="right-message">
                            <div class="img-container">
                                <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div>
                            </div>
                            <div class="message-area">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris turpis sapien, pellentesque et nisl nec, convallis blandit magna. Vivamus id nisl purus. Quisque vehicula dignissim mi ac tempus. Aenean quis tristique arcu.</p>
                            </div>
                        </div> -->
                        <div [class]="message.senderId===detail.assignedId?'left-message':'right-message'" *ngIf="message.isMessage">
                            <div class="img-container">
                                <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div>
                            </div>
                            <div class="message-area">
                                <p>{{message.message}}</p>
                            </div>
                        </div>
                        <div class="forward-container" *ngIf="!message.isMessage">
                            <div class="header">
                                <p *ngIf="message.permissionStatus===0||message.permissionStatus===null">Permission to forward to <span class="department">&emsp;{{message.forwardDepartmentName}}&emsp;</span> <span class="arrow">></span> <span class="personnel">&emsp;{{message.forwardPersonnelName}}</span></p>
                                <p *ngIf="message.permissionStatus===1">Ticket has been forwarded to <span class="department">&emsp;{{message.forwardDepartmentName}}&emsp;</span> <span class="arrow">></span> <span class="personnel">&emsp;{{message.forwardPersonnelName}}</span></p>
                            </div>
                            <div class="notification">
                                <p>{{message.message}}</p>
                            </div>
                            <div class="buttons" *ngIf="message.permissionStatus===null">
                                <button mat-flat-button color="warn" (click)="onDecline(message,$index)">Decline</button>
                                <button class="btn-change" mat-stroked-button>Change</button>
                                <button class="btn-accept" mat-flat-button (click)="onAccept(message,$index)">Accept</button>
                            </div>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="message-input" *ngIf="detail.assignedId===userId||detail.requestId===userId">
        <mat-card class="message-input-card">
            <mat-card-content class="message-input-content">
                <textarea class="message-area" placeholder="Type a message" [(ngModel)]="_message"></textarea>
                <button class="btn-attach" mat-stroked-button>
                    <mat-icon class="attach-icon">attach_file</mat-icon>
                    Attach
                </button>
                <button class="btn-send" mat-flat-button (click)="sendMessage()">
                    Send
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>