<div class="usermodaloverlay" (click)="closededialogNewUser()"></div>
<div class="usermodalcontainer" [formGroup]="form">
    <div class="usermodalheader">
        <label for=""> {{UserAccount.Title}}</label>
        <button (click)="closededialogNewUser()" class="fa fa-times"></button>
    </div>
    <div class="usermodalcontent">
        <div class="postionheader">
            <div class="userheader">
                <div class="usercard">
                    <div style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                ">
                        <label style="color: #4845D2;" for="">Basic Info</label>
                    </div>

                    <div class="accountype">
                        <label for="">Account Type</label>
                        <mat-radio-group class="gender-radio-group" formControlName="AccountType">
                            <mat-radio-button value="3">CEO</mat-radio-button>
                            <mat-radio-button value="4">Communicator</mat-radio-button>
                            <mat-radio-button value="5">Department Head</mat-radio-button>
                            <mat-radio-button value="6">Member</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="usercard" *ngIf="_isdepartment">
                    <label for="">Department</label>
                    <div class="usercardcontent">
                        <!-- <select>
                            <option value="">Please select Department</option>
                            <option *ngFor="let dept of departmentlist asyn" [value]="dept.DepatmentID">{{dept.DepartmentName}}</option>
                        </select> -->

                        <mat-select formControlName="DepartmentID" placeholder="Select Department"
                            (selectionChange)="DepartmentSelectedValue($event)">
                            <!-- <div class="searchinput">
                                <div class="searchicon">
                                    <input type="text" class="searchuserinput" placeholder="Search user">
                                    <i class="fa fa-light fa-search"></i>
                                </div>
                            </div> -->
                            <mat-option>Select Department</mat-option>
                            <mat-option *ngFor="let dept of departmentlist asyn"
                                [value]="dept.DepartmentID">{{dept.DepartmentName}}</mat-option>
                        </mat-select>
                    </div>
                </div>

                <!-- <div class="usercard">
                    <label for="">Membership Type <span>*</span></label>
                    <div class="usercardcontent">
                        <mat-select formControlName="RolesID" placeholder="Select Membership Type"
                            (selectionChange)="RoleSelectedValue($event)">
                            <mat-option *ngFor="let role of roleslist asyn"
                                [value]="role.RolesID">{{role.Rolesname}}</mat-option>
                        </mat-select>
                    </div>
                </div> -->

                <div class="usercard">
                    <label for="">Position <span>*</span></label>
                    <div class="usercardcontent">
                        <mat-select formControlName="PositionID" placeholder="Select Position"
                            (valueChange)="honDPositionSelectChange()"
                            (selectionChange)="PositionSelectedValue($event)">
                            <mat-option *ngFor="let pos of positionlist asyn"
                                [value]="pos.PositionID">{{pos.Positionname}}</mat-option>
                        </mat-select>
                    </div>
                </div>

                <!-- <div class="usercard">
                    <div class="iscommunication">
                        <mat-checkbox [checked]="iscommunicator"
                            (change)="onChangeCommunitcator($event)"></mat-checkbox>
                        <label for="">is Communication</label>
                    </div>
                </div>
                <div class="usercard">
                    <div class="iscommunication">
                        <mat-checkbox [checked]="isdepthead" (change)="onChangeDeptHead($event)"></mat-checkbox>
                        <label for="">is Dept Head</label>
                    </div>
                </div> -->

            </div>
        </div>
        <div class="personaldetailsheader">
            <div class="userheader">
                <div style="
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
            ">
                    <label style="color: #4845D2;" for="">Personal Details</label>
                </div>
                <div class="usercard">
                    <label for="">First Name <span>*</span></label>
                    <div class="usercardcontent">
                        <input type="text" formControlName="Firstname" placeholder="First Name">
                    </div>
                </div>

                <div class="usercard">
                    <label for="">Middle Name</label>
                    <div class="usercardcontent">
                        <input type="text" formControlName="Middlename" placeholder="Middle Name">
                    </div>
                </div>
                <div class="usercard">
                    <label for="">Last Name <span>*</span></label>
                    <div class="usercardcontent">
                        <input type="text" formControlName="Lastname" placeholder="Last Name">
                    </div>
                </div>
                <div class="usercard">
                    <label for="">Gender</label>
                    <div class="usercardcontent">
                        <!-- <select name="" id="">
                            <option value="">Please Gender</option>
                            <option value="m">Male</option>
                            <option value="f">Female</option>
                        </select> -->
                        <mat-select formControlName="Gender" placeholder="Select Gender" #singleSelect
                            (selectionChange)="GenderSelectedValue($event)">
                            <mat-option [value]="'m'">Male</mat-option>
                            <mat-option [value]="'f'">Female</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="usercard">
                    <label for="">Birthdate</label>
                    <div class="usercardcontent">
                        <input type="date" formControlName="Birthdate" required>
                    </div>
                </div>
                <div class="usercard">
                    <label for="">Email <span>*</span></label>
                    <div class="usercardcontent">
                        <input type="email" formControlName="Email" placeholder="dev@esat.com">
                    </div>
                </div>
                <div class="usercard">
                    <label for="">Mobile Number <span>*</span></label>
                    <div class="usercardcontent">
                        <input type="text" maxlength="13" formControlName="MobileNumber" placeholder="0999-999-9999">
                    </div>
                </div>
                <div class="usercard">
                    <label for="">Address</label>
                    <div class="usercardcontent">
                        <input type="text" formControlName="Address" placeholder="Address">
                    </div>
                </div>
                <div class="uploadprofilepicture">
                    <!-- <img ngif src="assets/image/icon_blank_profile.png" alt=""> -->
                    <img *ngIf="base64 == ''" src="assets/image/icon_blank_profile.png" alt="">
                    <img *ngIf="base64 != ''" src={{base64}} alt="">
                    <button class="file-upload-button1 fa fa-upload">
                        <label for="">Upload</label>
                        <input type="file" #fileInput (change)="onFileSelected($event,fileInput)">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="cancelbutton">
            <button (click)="closededialogNewUser()">Cancel</button>
        </div>
        <div class="createbutton">
            <!-- <button *ngIf="UserAccount.Title == 'Create User Account'" (click)="CreatedialogNewUser()">Create</button>
            <button *ngIf="UserAccount.Title == 'Update User Account'" (click)="CreatedialogNewUser()">Update</button> -->
            <button (click)="CreatedialogNewUser()">{{UserAccount.ButtonText}}</button>
        </div>
    </div>
</div>