.usermodaloverlay {
    //display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    //align-items: center;
    //justify-content: center;
    //font-family: Arial, Helvetica, sans-serif;
    z-index: 12;
}

/*
:host {
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
*/

.usermodalcontainer {
    z-index: 13;
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    //width: fit-content;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    //height: 600px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: fit-content;

    .usermodalheader {
        border-bottom: solid 1px #CCC;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        padding: 12px 24px;
        font-weight: bold;
        color: #333;

        label {
            font-size: 18px;
            color: #4845D2;
        }

        button {
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    .usermodalcontent {
        flex-grow: 1;
        padding: 30px;
        font-size: 18px;
        display: flex;
        //flex-direction: column;
        gap: 16px;

        .postionheader {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 50%;
            padding: 2px 12px 2px 12px
        }

        .personaldetailsheader {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 50%;
            padding: 2px 12px 2px 12px
        }

        .userheader {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .accountype{
                display: flex;
                flex-direction: column;
                mat-radio-group{
                    display: flex;
                    flex-direction: column;
                }
            }

            .usercardcontent {
                display: flex;
                align-items: center;
                height: 32px;
                width: 100%;
                border: solid 1px #4845D2;
                border-radius: 16px;
                padding: 8px 16px 8px 16px;


                input {
                    font-size: 16px;
                    line-height: 16px;
                    width: 100%;
                    border: none;
                    outline: none;
                }

                select {
                    width: 100%;
                    border: none;
                    outline: none;
                }
            }

            .usercard {
                display: flex;
                flex-direction: column;
                gap: 8px;
                .iscommunication{
                    display: flex;
                    //gap:10px;
                    align-items: center;
                    justify-content: flex-start;
                }
                span{
                    color: #dd3434;
                    font-weight: bold;
                    font-size: 20px;
                }
            }

            .uploadprofilepicture {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;

                img {
                    border-radius: 50%;
                    height: 256px;
                    width: 256px;
                }
                button{
                    cursor: pointer;
                }

                // button{
                //     height: 32px;
                //     width: 73px;
                //     color: #4845D2;
                //     border: solid 1px #4845D2;
                //     border-radius: 10px;
                //     background: none;
                //     cursor: pointer;

                // }
                // button:hover{
                //     //color: #928d8d;
                //     font-weight: bold;
                //     letter-spacing: 2px;
                //     box-shadow: 0 8px 16px 0 rgba(72, 69, 210, 0.2), 0 6px 20px 0 rgba(72, 69, 210, 0.19);
                // }
            }
        }

    }

    .actions {
        display: flex;
        justify-content: center;
        height: 70px;
        padding: 15px;
        gap: 8px;

        .cancelbutton {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background: #F4F3FC;
            border-radius: 8px;
            padding: 2px 12px 2px 12px;

            button {
                height: 30px;
                padding: 0px 20px 0px 20px;
                background: none;
                //background-color: cornflowerblue;
                border: none;
                color: #4845D2;
                font-size: 18px;
                cursor: pointer;
                letter-spacing: 2px;
            }

            button:hover {
                font-weight: bold;
                letter-spacing: 2px;
            }

            i {
                color: #fff;
            }
        }

        .cancelbutton:hover {
            box-shadow: 0 8px 16px 0 rgba(72, 69, 210, 0.2), 0 6px 20px 0 rgba(72, 69, 210, 0.19);
            border: solid 2px #4845D2;
        }

        .createbutton {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background: #4845D2;
            border-radius: 8px;
            padding: 2px 12px 2px 12px;

            button {
                height: 30px;
                padding: 0px 20px 0px 20px;
                background: none;
                //background-color: cornflowerblue;
                border: none;
                color: #fff;
                font-size: 18px;
                cursor: pointer;
                letter-spacing: 2px;
            }

            button:hover {
                font-weight: bold;
                letter-spacing: 2px;
            }

            i {
                color: #fff;
            }
        }

        .createbutton:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: solid 2px #000;
        }


    }

}

label {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #403D39;
}

.file-upload-button1 {
    overflow: hidden;
    position: relative;

    height: 32px;
    width: 73px;
    color: #4845D2;
    border: solid 1px #4845D2;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    label{

        cursor: pointer;
    }


    // &::after {
    //     //content: '⇪';
    //     color: #fff;
    //     font-size: 1.5rem;
    //     text-align: center;
    //     cursor: pointer;
    // }

    input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}


.file-upload-button {
    background-color: #3d2d2d;
    border-radius: 50%;
    height: 3rem;
    overflow: hidden;
    position: relative;
    width: 3rem;

    &::after {
        content: '⇪';
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
    }

    input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}

.file-upload-button:hover {

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    width: 88%;
    padding: 10px;
    //border-radius: 10px;
    margin: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.5px;
}
.dropdownsearch {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border: solid 1px #CCC;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}