.container {
    //padding: 20px;
    height: 100%;

    //background: #eccbcb;
    .header {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0px 20px 0px;
        height: 80px;


        .searchtab {
            width: 385px;
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            .searchbar {
                border: solid 1px #9E9E9E;
                border-radius: 10px;
                height: 30px;

                display: flex;
                justify-content: flex-end;
                gap: 8px;
                padding: 0px 10px;
                width: 100%;
                align-items: center;
                height: 100%;

                input {
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 100%;
                }

                button,
                filter {
                    border: none;
                    background: none;
                }
            }

            .newbutton {
                background: #3818D9;
                color: #fff;
                width: 100px;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }
            .newbutton:hover{
                letter-spacing: 2px;
            }

            .searchicon {
                font-size: 20px;
                display: flex;
                align-items: center;
                height: 62px;
                width: 221%;
                border: solid 0.5px #9E9E9E;
                border-radius: 10px;
                gap: 15px;
                padding: 15px 50px 15px 15px;

                .fa {
                    color: #5f5f5f;
                }
            }

            .filtericon {
                display: flex;
                width: 104px;
                align-items: center;
                gap: 15px;
            }


            .searchinput {
                display: flex;
                justify-content: flex-end;
                gap: 8px;

                .searchticketinput {
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    width: 100%;
                    outline: none;

                }

                .filterbutton {
                    color: #5f5f5f;
                    background: none;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    cursor: pointer;
                }
            }
        }
    }
}