.ticketscontainer {
    .ticketheader {
        display: flex;
        justify-content: space-between;
        padding: 16px 0px 16px 0px;

    }

    .ticketbody {
        padding: 16px 0px 60px 0px;

        .bodyheader {
            display: flex;
            align-items: center;
            height: 94px;
            justify-content: space-between;

            //padding: 16px 0px 16px 0px;

            .bodyheadertab {
                display: flex;
                gap: 10px;

                .buttonpending {}

                .buttonresolved {}

                .buttonall {}
            }

            .searchtab {
                width: 385px;

                .searchicon {
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    height: 62px;
                    width: 221%;
                    border: solid 0.5px #9E9E9E;
                    border-radius: 10px;
                    gap: 15px;
                    padding: 15px 50px 15px 15px;

                    .fa {
                        color: #5f5f5f;
                    }
                }

                .filtericon {
                    display: flex;
                    width: 104px;
                    align-items: center;
                    gap: 15px;
                }

                .searchinput {
                    display: flex;
                    justify-content: flex-end;
                    gap: 8px;

                    .searchticketinput {
                        border: none;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        width: 100%;
                        outline: none;

                    }

                    .filterbutton {
                        color: #5f5f5f;
                        background: none;
                        border: none;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        cursor: pointer;
                    }
                }
            }

        }

        .bodycontent {}
    }
}
.menu-nav-bar{
    background: #e5e4e5;
}
.menu-nav {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;

    .menu-nav-item {
        display: inline-flex;
        //padding: 0px 10px 0px 10px;
        height: 100%;
        align-items: center;

        .menu-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #000;
            text-decoration: none;
            transition: all .3s ease;

            justify-content: center;
            //background: #888080;
            width: 100px;
            //width: 100%;
            font

            .menu-nav-link-text {
                font-size: 20px;
                font-weight: bold;
                //color: #9E9E9E;
                width: 100%;
                margin-left: 1.5rem;
            }
        }
    }

    .menu-nav-item:hover {
        .menu-nav-link {
            //border-bottom: solid 3px #3818D9;
            //border-radius: 0px 20px 0px 20px;
            color: #ab3535;
            font-weight: 500;
            letter-spacing: 2px;
            font-weight: bold;
        }
    }
}

.ticketheaderlabel {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    color: #202020;
}

.newbutton {
    background: #3818D9;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 20px 10px 20px;
    border-radius: 5pc;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.active {
    //background-color: #3818D9;
    //border-bottom: solid 3px #3818D9;
    color: #000;
    font-weight: 900;
    background: #827d7d;
    //border-radius: 0px 20px 0px 0px;

    .menu-link-icon,
    .menu-nav-link-text {
        color: #fff;
        letter-spacing: 2px;
    }
}
.valueclass{
    background: #3818D9;
    color: #fff;
}