<div class="message-box-container" *ngIf="data.Type!=='confirmation'">
    <div class="progress-container" *ngIf="data.Type==='progress'">
        <mat-spinner class="spinner1"></mat-spinner>
        <label>Loading please wait...</label>
    </div>
    <div class="success-msg" *ngIf="data.Type==='message'">
        <div>
            <mat-icon color="primary">check_circle</mat-icon>
            <h2>Success</h2>
            <p>{{data.Message}}</p>
        </div>
        <button class="btn-close" mat-flat-button mat-dialog-close>
            Close
        </button>
    </div>
</div>
<div class="confirmation-msg" *ngIf="data.Type==='confirmation'">
    <mat-toolbar class="mat-dialog-header">
        <h3>Confirm Task</h3>
    </mat-toolbar>
    <div class="content">
        <div class="message">
            <p>Do you think you've finished the task?</p>
        </div>
        <div class="buttons">
            <button class="btn-close" mat-button cdkFocusInitial [mat-dialog-close]="false">
                Close
            </button>
            <button class="btn-confirm" mat-flat-button (click)="confirm()">
                Confirm
            </button>
        </div>
    </div>
</div>