<div class="title-container">
    <div class="sub-title-container">
        <img class="logo" src="assets/image/logo.gif">
        <h1>TikSy</h1>
    </div>
</div>
<div class="mini-title-container">
    <div class="submini-title-container">
        <h4>New User Login</h4>
        <mat-icon class="arrow-back">arrow_back</mat-icon>
    </div>
</div>
<form class="form-container" [formGroup]="form">
    <div class="sub-form-container">
        <div style="text-align: center;margin-top: 10px;">
            <label>
                Enter Mobile Number
            </label>
        </div>
        <div class="input-container">
            <span class="prefix">+63</span>
            <input class="input-username" formControlName="mobileNumber" [maxLength]="10"  type="text" (change)="onSendingOtp($event)" (keydown.enter)="onSendingOtp($event)" [readonly]="generatedOtp">
        </div>
    </div>
</form>
<div class="otp-message-container">
    <div class="sub-otp-message">
        <label>
            Enter the 6-digit code that has been sent to your mobile number to continue with password setup
        </label>
    </div>

</div>
<div class="otp-container">
    <!-- <ng-otp-input
        #ngOtpInput
        [config]="config"
        (onInputChange)="onOtpChange($event)">
    </ng-otp-input> -->
    <ng-otp-input
        #ngOtpInput
        [config]="config"
        (onInputChange)="onOtpChange($event)">
    </ng-otp-input>
</div>
<div class="resend-code-container" *ngIf="generatedOtp">
    <label (click)="resendCode()">Resend Code {{_timer===0?'':'('+_timer+')'}}</label>
</div>
<div class="success-error-container" *ngIf="otpStatus.isIconShow">
    <div>
        <div class="success-error-icon">
            <mat-icon [color]="otpStatus.isSuccess?'primary':'warn'" #successErrorIcon>{{otpStatus.isSuccess?'check_circle':'cancel'}}</mat-icon>
        </div>
        <div class="error-msg" *ngIf="!otpStatus.isSuccess">
            <label>{{otpStatus.message}}</label>
        </div>
    </div>
</div>
<div class="button-container">
        <button mat-flat-button (click)="onSubmit()">
            Submit
        </button>
</div>