<mat-toolbar class="mat-dialog-header">
    @if(this.data.IsRequiredOtherDepartment){
        <h3>Forward Ticket</h3>
    }
    @else {
        <h3>Assigned Ticket</h3>
    }
    <!-- <mat-icon mat-dialog-close>close</mat-icon> -->
</mat-toolbar>
<mat-dialog-content>
    <div class="dialog-content">
        @if(this.data.IsRequiredOtherDepartment){
            <h3>Transfer this ticket to other department</h3>
        }
        <div class="tp-category" *ngIf="this.data.IsRequiredOtherDepartment">
            <p class="custom-label"><span style="color:red">*</span> Department</p>
            <div class="custom-select">
                <mat-select placeholder="Select a department" (valueChange)="selectDepartment($event)">
                    <mat-option [value]="department.DepartmentID" *ngFor="let department of departments">{{department.DepartmentName}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="tp-category" *ngIf="!this.data.IsRequiredOtherDepartment">
            <p class="custom-label"><span style="color:red">*</span> Category</p>
            <div class="custom-select">
                <mat-select placeholder="Select a category" (valueChange)="selectCategory($event)">
                    <mat-option [value]="category.CategoryID" *ngFor="let category of categories">{{category.Categoryname}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="tp-personnel" *ngIf="!this.data.IsRequiredOtherDepartment">
            <p class="custom-label"><span style="color:red">*</span> Personnel</p>
            <div class="custom-select">
                <mat-select placeholder="Select a personnel" >
                    <mat-option [value]="personnel.userId" *ngFor="let personnel of personnels" (click)="selectPersonnel(personnel)">{{personnel.name}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="tp-ticket-description">
            <p class="custom-label">Transfer Remarks</p>
            <textarea class="custom-textarea" #remarks (change)="setRemarks(remarks.value)"></textarea>
        </div>
        <!-- <div>
            <mat-checkbox (change)="updateCheck($event.checked)">Forward to other department</mat-checkbox>
        </div> -->
        <div class="footer">
            <button class="btn-close" mat-button [mat-dialog-close]="false">
                Close
            </button>
            <button class="btn-confirm" mat-flat-button (click)="onConfirmForwardTicket()">
                Confirm
            </button>
        </div>
    </div>
</mat-dialog-content>