<mat-toolbar class="mat-dialog-header">
    <h3>Forward Ticket</h3>
    <!-- <mat-icon mat-dialog-close>close</mat-icon> -->
</mat-toolbar>
<mat-dialog-content>
    <div class="dialog-content">
        <h3>Transfer this ticket to other users</h3>
        <div class="tp-category">
            <p class="custom-label">Department</p>
            <div class="custom-select">
                <mat-select placeholder="Select a department" (valueChange)="selectDepartment($event)">
                    <mat-option [value]="department.DepartmentID" *ngFor="let department of departments">{{department.DepartmentName}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="tp-personnel">
            <p class="custom-label">Personnel</p>
            <div class="custom-select">
                <mat-select placeholder="Select a personnel" (valueChange)="selectPersonnel($event)">
                    <mat-option [value]="personnel.userId" *ngFor="let personnel of personnels">{{personnel.name}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="tp-ticket-description">
            <p class="custom-label">Transfer Remarks</p>
            <textarea class="custom-textarea" #remarks (change)="setRemarks(remarks.value)"></textarea>
        </div>
        <div class="footer">
            <button class="btn-close" mat-button cdkFocusInitial [mat-dialog-close]="false">
                Close
            </button>
            <button class="btn-confirm" mat-flat-button (click)="onConfirmForwardTicket()">
                Confirm
            </button>
        </div>
    </div>
</mat-dialog-content>