<div class="message-box-container" *ngIf="data.Type!=='confirmation'&&data.Type!=='resolve'">
    <div class="progress-container" *ngIf="data.Type==='progress'">
        <mat-spinner class="spinner1"></mat-spinner>
        <label>Loading please wait...</label>
    </div>
    <div class="success-msg" *ngIf="data.Type==='message'">
        <div *ngIf="data.IsSuccess">
            <mat-icon color="primary">check_circle</mat-icon>
            <h2>Success</h2>
            <p>{{data.Message}}</p>
        </div>
        <div *ngIf="!data.IsSuccess">
            <mat-icon color="warn">cancel</mat-icon>
            <h2 style="color:red">Failed</h2>
            <p>{{data.Message}}</p>
        </div>
        <button class="btn-close" mat-flat-button mat-dialog-close>
            Close
        </button>
    </div>
</div>
<div class="confirmation-msg" *ngIf="data.Type==='confirmation'">
    <mat-toolbar class="mat-dialog-header">
        <h3>Confirm</h3>
        <!-- <mat-icon mat-dialog-close>close</mat-icon> -->
    </mat-toolbar>
    <div class="content">
        <div class="message">
            <!-- <p>You are about to resolve this ticket. Are you sure all requirements have been meet?</p> -->
            <p>{{data.Message}}</p>
        </div>
        <div class="buttons">
            <button class="btn-close" mat-button [mat-dialog-close]="false">
                {{data.IsForward||data.IsCancel?'No':'Close'}}
            </button>
            <button class="btn-confirm" mat-flat-button (click)="confirm()">
                {{data.IsForward||data.IsCancel?'Yes':'Confirm'}}
            </button>
        </div>
    </div>
</div>
<div class="confirmation-msg" *ngIf="data.Type==='resolve'">
    <mat-toolbar class="mat-dialog-header">
        <h3>Confirm</h3>
        <!-- <mat-icon mat-dialog-close>close</mat-icon> -->
    </mat-toolbar>
    <div class="content">
        <div class="message">
            <!-- <p>You are about to resolve this ticket. Are you sure all requirements have been meet?</p> -->
            <p>{{data.Message}}</p>
        </div>
        <div class="buttons">
            <button class="btn-close" mat-button [mat-dialog-close]="false" (click)="onConfirmNo()">
               No
            </button>
            <button class="btn-confirm" mat-flat-button (click)="onConfirmYes()">
                Yes
            </button>
        </div>
    </div>
</div>