.message-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.progress-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .spinner1{
        max-height: 50px;
        max-width: 50px;
    }
}

.success-msg{
    display: grid;
    justify-items: center;
    padding: 16px 16px 10px 16px;
    row-gap: 60px;
    text-align: center;
    h2{
        color: #4CAF50;
    }
    button{
        background: #4845D2;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 18px;
        width: 50%;
    }
    p{
        color: rgba(#000,0.5);
        font-size: 18px;
    }
    mat-icon{
        height: auto;
        width: auto;
        font-size: 100px;
    }
}

.confirmation-msg{
    .mat-dialog-header{
        height: 50px;
        display: flex;
        justify-content: space-between;
        background: #fff;
        border-bottom: 1px solid rgba(#000,0.1);
        h3{
            color: #4845D2;
        }
        mat-icon{
            cursor: pointer;
        }
    }

    .content{
        display: grid;
        justify-content: center;
        padding: 16px;
        font-size: 18px;
    }

    .message{
        width: 100%;
        padding: 16px 24px 32px 24px;
        text-align: center;
        // overflow-wrap: break-word;
        // padding: 16px;
    }
    
    .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0px 4px;
        button{
            border-radius: 10px;  
        }
        .btn-close{
            width: 50%;
            color: #4845D2;
            background: rgba(#000,0.05);
            // font-size: 17px;
        }
        .btn-confirm{
            width: 50%;
            background: #4845D2;
            color: #fff;
            // font-size: 17px;
        }
    }
}