<div class="ticketmodaloverlay" (click)="closedialogNewTicket()"></div>
<div class="ticektmodalcontainer">
    <div class="ticketmodalheader">
        <label for=""> Create Ticket</label>
        <button (click)="closedialogNewTicket()" class="fa fa-times"></button>
    </div>
    <div class="ticketmodalcontent">
        <div class="categorycard">
            <label for="">Category</label>
            <div class="selectcat">
                <select name="" id="">
                    <option value="">Please Select Catgory</option>
                    <option value="1">Sample Category 1</option>
                    <option value="2">Sample Category 2</option>
                    <option value="3">Sample Category 3</option>
                    <option value="4">Sample Category 4</option>
                    <option value="5">Sample Category 5</option>
                </select>
            </div>
        </div>
        <div class="tickettitlecard">
            <label for="">Ticket Title</label>
            <div class="titleinput">
                <input type="text" placeholder="Please Enter Ticket Title">
            </div>
        </div>
        <div class="ticketdescriptioncard">
            <label for="">Ticket Description</label>
            <div class="desriptintextarea">
                <textarea name="" id="" cols="30" rows="10" placeholder="Place Enter Ticket Description"></textarea>
            </div>
        </div>
        <div class="ticketattachimagecard">
            <label for="">Attachment</label>
            <div class="attachfile">
                <div class="attachcard">
                    <button class="fa fa-light fa-paperclip"></button>
                    <label for="">imageattachment.jpg</label>
                </div>
                <button class="fa fa-light fa-trash"></button>
            </div>
            <div class="dragdropupload">
                <button class="fa fa-regular fa-upload"></button>
                <label for="">Drop here to attach or upload</label>
                <label for="">Max size 1M</label>
            </div>
        </div>
        <div class="categorycard">
            <label for="">Priority Level</label>
            <div class="selectcat">
                <select name="" id="">
                    <option value="">Please Select Catgory</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                    <option value="1">Priority Level 1</option>
                    <option value="2">Priority Level 2</option>
                    <option value="3">Priority Level 3</option>
                    <option value="4">Priority Level 4</option>
                    <option value="5">Priority Level 5</option>
                </select>
            </div>

        </div>
    </div>
    <div class="actions">
        <div class="actionbutton">
            <button (click)="closedialogNewTicket()">Create Ticket</button>
            <i class="fa fa-plus"></i>
        </div>
    </div>
</div>