<div class="modaloverlay" (click)="closeddialogNewPosition()"></div>
<div class="modalcontainer" [formGroup]="form">
    <div class="modalheader">
        <label for="">Create Position</label>
        <button class="fa fa-times" (click)="closeddialogNewPosition()"></button>
    </div>
    <div class="modalbody">
        <div class="deptcard">
            <label for="">Position Name</label>
            <div class="deptinput">
                <input type="text" placeholder="Position Name" formControlName="Positionname">
            </div>
        </div>
    </div>
    <div class="modalfooter">
        <div class="footerbody">
            <div class="savebutton" (click)="newdialogNewPosition()">
                <button>Save</button>
                <i class="fa fa-plus"></i>
            </div>
            <div class="closebutton" (click)="closeddialogNewPosition()">
                <button>Close</button>
                <i class="fa fa-times"></i>
            </div>
            
        </div>
    </div>
</div>