<mat-stepper #stepper>
    <mat-step class="mat-step-container">
        <div class="header"> 
            <!-- <h1>Department Head</h1> -->
            <h1>Tickets</h1>
            <!-- <button class="btn-newTicket" mat-flat-button (click)="openDialog()">
                New Ticket
            </button> -->
        </div>
        <div class="filter-container" >
            <div class="txt-search">
                <input type="text" placeholder="Search tickets" #search [(ngModel)]="searchValue" (keydown.Enter)="searchTicket(search.value)">
                <mat-icon>search</mat-icon>
            </div>
            <div class="btn-filter">
                <!-- <mat-icon>filter_alt</mat-icon>
                <span>Filter</span> -->
                <button mat-button (click)="filter()">
                    <mat-icon class="swap-icon">swap_vert</mat-icon>
                    <mat-icon class="filter-icon">filter_list</mat-icon>
                    Filter
                </button>
            </div>
        </div>
        <mat-tab-group mat-stretch-tabs="false" [selectedIndex]="tab"  mat-align-tabs="start" #tabRef>
            <mat-tab class="tab-container">
                <ng-template class="tab-label" mat-tab-label>
                    <span style="font-size: 20px;">Unassigned</span>
                    <span class="mat-badge-icon" *ngIf="unassigend > 0 && unassigend <= 99" matBadge={{unassigend}} matBadgeColor="accent"></span>
                    <span class="mat-badge-icon" *ngIf="unassigend > 99" matBadge="99+" matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab: tabRef.selectedIndex})">
                            <!-- <mat-spinner class="spinner" *ngIf="showProgress"></mat-spinner> -->
                            <mat-card *cdkVirtualFor="let item of collections" matRipple (click)="next(item)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}
                                        <span><mat-icon *ngIf="item.attachment != null">attach_file</mat-icon></span>
                                    </mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item?.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>Unassigned</label>
                                        </div>
                                        <div [class]="'action-'+item?.priorityName.toLowerCase()">
                                            <label>{{item?.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label matBadgeColor="accent">
                    <span style="font-size: 20px;">Assigned</span>
                    <span class="mat-badge-icon" *ngIf="assigned > 0 && assigned <= 99" matBadge={{assigned}} matBadgeColor="accent"></span>
                    <span class="mat-badge-icon" *ngIf="assigned > 99" matBadge={{assigned}} matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab: tabRef.selectedIndex})">
                            <mat-card *cdkVirtualFor="let item of collections" (click)="next(item)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}
                                        <span><mat-icon *ngIf="item.attachment != null">attach_file</mat-icon></span>
                                    </mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>{{item.assignedName}}</label>
                                        </div>
                                        <div [class]="'action-'+item.priorityName.toLowerCase()">
                                            <label>{{item.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span style="font-size: 20px;">All</span>
                    <span class="mat-badge-icon" *ngIf="alltickets>0 && assigned <= 99" matBadge={{alltickets}} matBadgeColor="accent"></span>
                    <span class="mat-badge-icon" *ngIf="alltickets > 99" matBadge="99+" matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab: tabRef.selectedIndex})">
                            <mat-card *cdkVirtualFor="let item of collections" (click)="next(item)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}
                                        <span><mat-icon *ngIf="item.attachment != null">attach_file</mat-icon></span>
                                    </mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>{{item.isAssigned?item.assignedName:'Unassigned'}}</label>
                                        </div>
                                        <div [class]="'action-'+item.priorityName.toLowerCase()">
                                            <label>{{item.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-step>
    <mat-step>
        <div class="ticket-container">
            <div [class]="!IsMobile()?'ticket-content':'ticket-content-full'" *ngIf="ticketDetail">
                <div class="side-content-toggle" *ngIf="IsMobile()" (click)="sideToggle()">
                    <button mat-button>
                        <mat-icon>arrow_left</mat-icon>
                    </button>
                </div>
                <div class="ticket-header">
                    <p class="ticket-toolbar">
                        <mat-icon (click)="goBack()">arrow_back</mat-icon>
                        <span>
                            <h1>{{ticketDetail.title}}</h1>
                        </span>
                        <span class="ticketno">#{{ticketDetail.ticketNo}}</span>
                    </p>
                    <p class="ticket-description">{{ticketDetail?.description}}</p>
                </div>
                <!-- <div class="ticket-comment">
                    <app-ticket [detail]="ticketDetail"></app-ticket>
                </div> -->
                <div class="cthbody">
                    <div class="body">
                        <div class="bodyheader">
                            <div class="cthbodyheader">
                                <label for="">Conversation</label>
                                <mat-icon>more_vert</mat-icon>
                            </div>
                        </div>
                        <div #tabsContentRefComment [scrollTop]="tabsContentRefComment.scrollHeight"
                            class="bodycontent">
                            <div class="commentlist" *ngFor="let data of ticketcomment">

                                <div class="notyourcomment" *ngIf="!data.IsYou && data.isMessage">
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                    <div class="commentcard">
                                        <div class="message" *ngIf="data.isMessage && !data.isImage" [innerText]="data.Message">
                                        </div>
                                        <div class="attachmFile" *ngIf="data.isImage">
                                            <img *ngIf="data.ImageAttachment != ''" src={{data.ImageAttachment}} alt="">
                                            <img *ngIf="data.ImageAttachment == ''"
                                                src="assets/image/icon_blank_profile.png" alt="">
                                        </div>

                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="isyourcomment" *ngIf="data.IsYou && data.isMessage">
                                    <div class="yourcommentcard">
                                        <div class="message" *ngIf="data.isMessage && !data.isImage" [innerText]="data.Message">
                                        </div>
                                        <div class="attachmFile" *ngIf="data.isImage">
                                            <img *ngIf="data.ImageAttachment != ''" src={{data.ImageAttachment}} alt="">
                                            <img *ngIf="data.ImageAttachment == ''"
                                                src="assets/image/icon_blank_profile.png" alt="">
                                        </div>
                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                </div>
                                <div class="isforwarded" *ngIf="!data.IsYou && !data.isMessage">
                                    <div class="forwarded">
                                        <label for="">Ticket has been forwarded to&nbsp;</label>
                                        <div class="forwardinfo"> {{data.Department}}&nbsp;>&nbsp;{{data.DisplayName}}
                                        </div>
                                    </div>
                                    <div class="messageinfo">
                                        <div class="message">{{data.Message}}</div>
                                        <div class="date">{{data.CommentDate}}</div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="cthfooter" *ngIf="(ticketDetail?.ticketStatusId!==3&&ticketDetail?.isRequiredCommunicator)||(!ticketDetail?.isRequiredCommunicator&&ticketDetail?.status!==3)">
                    <div class="footerbody">
                        <div class="commentcontent" [formGroup]="commentform">
                            <textarea formControlName="Message" name="" id="" rows="4"
                                placeholder="Write  your response for issue"></textarea>
                        </div>
                        <div class="buttoncomment">

                            <div class="attachmentcomment">

                                <label for="file1">

                                    <div class="fa fa-paperclip"></div>
                                    <span>Attachment</span>

                                </label>

                                <input *ngIf="uploaded.length < 5" #fileInput id="file1" type="file"
                                    accept=".png, .jpg, .gif" name="file"
                                    (change)="onFileSelected($event, fileInput)" />
                            </div>
                            <button (click)="hSendComment()">Send</button>
                        </div>
                    </div>

                </div>
                <div class="acknoledgefooter" *ngIf="ticketDetail?.status===3&&ticketDetail?.ticketStatusId===3">
                    <div class="acknowledge">
                        <div class="footerbody">
                            <label class="label1" for="">This ticket is closing</label>
                            <label class="label2" for="">Wait for the requester to confirm to finalize closure</label>
                            <label class="label3" for="" (click)="decline()">or cancel</label>
                        </div>
                    </div>
                </div>

                <div class="acknoledgefooter" *ngIf="((ticketDetail?.ticketStatusId===3&&ticketDetail?.isRequiredCommunicator)||(userDetail.USR_ID===ticketDetail?.requestId&&ticketDetail?.ticketStatusId===3))&&ticketDetail?.status!==3">
                    <div class="acknowledge">
                        <div class="footerbody">
                            <label class="label1" for="">This ticket is closing</label>
                            <label class="label2" for="">Has your needs been fulfilled</label>
                            <div class="acceptbutton">
                                <button class="no" (click)="hDeclinedProgress()">No</button>
                                <button class="yes" (click)="hAcceptProgress()">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acknoledgefooter" *ngIf="Status == 4">
                    <div class="acknowledge">
                        <div class="footerbody" *ngIf="Status == 4">
                            <label class="label1" for="">This ticket is resolved</label>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="!IsMobile()?'side-info-content':isSideToggle?'m-side-info-content show': 'm-side-info-content hide'">
                <div class="side-inner-content" [class]="IsMobile()&&isSideToggle?'open':IsMobile()&&!isSideToggle?'not-open':''">
                    <div class="side-inner-toggle" *ngIf="IsMobile()" (click)="sideToggle()">
                        <button mat-button>
                            <mat-icon>arrow_right</mat-icon>
                        </button>
                    </div>
                    <mat-card class="card-requester-detail">
                        <mat-card-header>
                            <mat-card-title>Requester Detail</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="icon-img">
                                <!-- <mat-icon>flutter_dash</mat-icon> -->
                                 <img [src]="(ticketDetail?.requestProfImage||'assets/image/icon_blank_profile.png')">
                            </div>
                            <div class="requester-name">
                                <span [matTooltip]="ticketDetail?.requestName">{{ticketDetail?.requestName??'Arnold Schwarzenegger'}}</span>
                                <span class="username">&#64;{{ticketDetail?.requestNickname??'terminator'}}</span>
                                <!-- <span>Arnold Schwarzenegger</span><br>
                                <span class="username">{{'\@terminator'}}</span> -->
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                        </mat-card-footer>
                    </mat-card>
                    <mat-card class="card-ticket-info">
                        <mat-card-header>
                            <mat-card-title>Ticket Info</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <label>
                                <p>Ticket ID:&emsp;<span class="ticketno">#{{ticketDetail?.ticketNo}}</span></p>
                            </label>
                            <label>
                                <p>Created:&emsp;<span>{{dateFormatted(false,ticketDetail?.dateCreated)}}</span></p>
                            </label>
                            <label>
                                <p>Elapsed Time:&emsp;<span>{{ticketDetail?.elapsedTime}}</span></p>
                            </label>
                            <label>
                                <p>Status:&emsp;<span [class]="'ticket-'+ticketDetail?.ticketStatus.toLowerCase()">{{ticketDetail?.ticketStatus}}</span></p>
                            </label>
                            <label>
                                <p>Priority:&emsp;<span [class]="'action-'+ticketDetail?.priorityName.toLowerCase()"><label class="label-priority">{{ticketDetail?.priorityName}}</label></span></p>
                            </label>
                        </mat-card-content>
                        <mat-card-footer></mat-card-footer>
                    </mat-card>
                    <mat-card class="assignedTo-info" *ngIf="ticketDetail?.isAssigned">
                        <mat-card-header>
                            <mat-card-title>Assigned-To</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span><h4>Department</h4></span>
                            <div class="detail">
                                <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div>
                                <div class="requester-name">
                                    <span>{{ticketDetail?.departmentName}}</span>
                                    <span class="username">&#64;{{(ticketDetail?.categoryName??'Department Head').toLowerCase().replace(' ','')}}</span>
                                </div>
                            </div>
                            <span *ngIf="ticketDetail?.isAssigned"><h4>Name</h4></span>
                            <div class="detail" *ngIf="ticketDetail?.isAssigned">
                                <div class="icon-img">
                                    <!-- <mat-icon>flutter_dash</mat-icon> -->
                                    <img [src]="(ticketDetail?.requestProfImage||'assets/image/icon_blank_profile.png')">
                                </div>
                                <div class="requester-name">
                                    <span [matTooltip]="ticketDetail?.assignedName">{{ticketDetail?.assignedName}}</span>
                                    <span class="username">&#64;{{ticketDetail?.assignedNickname??'terminator'}}</span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="requestForwardTo-info" *ngIf="">
                        <mat-card-header>
                            <mat-card-title>Request-To-Forward</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span *ngIf="ticketDetail?.departmentId!==userDetail?.DEPT_ID"><h4>Department</h4></span>
                            <div class="detail" *ngIf="ticketDetail?.departmentId!==userDetail?.DEPT_ID">
                                <!-- <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div> -->
                                <div class="requester-name">
                                    <span>{{ticketDetail?.departmentName}}</span>
                                </div>
                            </div>
                            <span><h4>Category</h4></span>
                            <div class="detail">
                                <!-- <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div> -->
                                <div class="requester-name">
                                    <span>{{ticketDetail?.categoryName}}</span>
                                </div>
                            </div>
                            <span *ngIf="ticketDetail?.assignedId"><h4>Name</h4></span>
                            <div class="detail" *ngIf="ticketDetail?.assignedId">
                                <div class="icon-img">
                                    <!-- <mat-icon>flutter_dash</mat-icon> -->
                                    <img [src]="(ticketDetail?.assignedProfImage||'assets/image/icon_blank_profile.png')">
                                </div>
                                <div class="requester-name">
                                    <span>{{ticketDetail?.assignedName}}</span>
                                    <span class="username">&#64;{{ticketDetail?.assignedUsername??'terminator'}}</span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <!-- <div class="forward-resolve-container" *ngIf="ticketDetail?.status===2||ticketDetail?.status===5">
                        <div [class]="ticketDetail?.isForwarded||ticketDetail?.status===6?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-forward" mat-flat-button (click)="forwardingTicket()" [disabled]="ticketDetail?.isForwarded||ticketDetail?.status===6">
                                <mat-icon iconPositionEnd>east</mat-icon>
                                Forward
                            </button>
                        </div>
                        <div [class]="ticketDetail?.isForwarded||ticketDetail?.status===6?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-resolve" mat-flat-button (click)="onResolvingTicket()" [disabled]="ticketDetail?.isForwarded||ticketDetail?.status===6">
                                Resolve
                                <mat-icon iconPositionEnd>check</mat-icon>
                            </button>
                        </div>
                    </div> -->
                    <!-- <div class="footer-inner-container" *ngIf="!ticketDetail?.isAssigned&&ticketDetail?.departmentId"> -->
                    <!-- <div class="footer-inner-container" *ngIf="ticketDetail?.departmentId===userDetail.DEPT_ID&&!ticketDetail?.isAssigned" >
                        <div class="inner-content">
                            <div class="assign-to">
                                <div>
                                    <h2>Assign To</h2>
                                </div>
                                <div class="searchbar">
                                    <div class="select-label"><mat-label>Name</mat-label></div>
                                    <div class="custom-select">
                                        <mat-select [value]="ticketDetail?.assignedTo">
                                            <mat-option (click)="onSelectAssignee(personnel)" *ngFor="let personnel of personnels" [value]="personnel.userId">{{personnel.name}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="footer-buttons">
                                    <button class="btn-return" mat-flat-button (click)="onReturningTicket()">
                                        <mat-icon>west</mat-icon>
                                        Return
                                    </button>
                                </div>
                                <div class="footer-buttons">
                                    <button class="btn-assign" mat-flat-button (click)="onAssigningTicket()">
                                        Assign
                                        <mat-icon iconPositionEnd>edit_square</mat-icon>
                                    </button>
                                </div>
                                <div class="footer-buttons">
                                    <button class="btn-cancel" mat-flat-button >
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="forward-resolve-container0"  *ngIf="ticketDetail?.attachment != null">
                        <div class='footer-buttons'>
                            <button class="btn-attachment" mat-flat-button (click)="hViewAttachment()">
                                <mat-icon iconPositionEnd>photo_library</mat-icon>
                                Attachments
                            </button>
                        </div>
                        
                        <!-- <button class="btn-forward" mat-flat-button (click)="logNotify()">
                            <mat-icon iconPositionEnd>east</mat-icon>
                            Sample Notify
                        </button> -->
                    </div>
                    <div class="forward-resolve-container0" *ngIf="ticketDetail?.ticketStatusId===4">
                        <div [class]="ticketDetail?.status===1?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-forward" mat-flat-button (click)="forwardingTicket()" [disabled]="ticketDetail?.status===1">
                                <mat-icon iconPositionEnd>east</mat-icon>
                                Forward
                            </button>
                        </div>
                        <!-- <div [class]="ticketDetail?.status===1||(ticketDetail?.status===3&&ticketDetail?.ticketStatusId===4)?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-resolve" mat-flat-button (click)="onResolvingTicket()" [disabled]="ticketDetail?.status===1||(ticketDetail?.status===3&&ticketDetail?.ticketStatusId===4)">
                                Resolve
                                <mat-icon iconPositionEnd>check</mat-icon>
                            </button>
                        </div> -->
                        <div [class]="ticketDetail?.status===1?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-return" mat-flat-button (click)="onReturningTicket()" [disabled]="ticketDetail?.status===1">
                                <mat-icon >west</mat-icon>
                                Return
                            </button>
                        </div>
                    </div>
                    <div class="forward-resolve-container" *ngIf="!ticketDetail?.isAssigned">
                        <div [class]="ticketDetail?.status===1?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-forward" mat-flat-button (click)="forwardingTicket()" [disabled]="ticketDetail?.status===1">
                                <mat-icon iconPositionEnd>east</mat-icon>
                                Forward
                            </button>
                        </div>
                        <!-- <div class="footer-buttons">
                            <button class="btn-assign" mat-flat-button (click)="onAssigningTicket()">
                                Assign
                                <mat-icon iconPositionEnd>edit_square</mat-icon>
                            </button>
                        </div> -->
                        <div [class]="ticketDetail?.status===1?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-resolve" mat-flat-button (click)="onResolvingTicket()" [disabled]="ticketDetail?.status===1">
                                Resolve
                                <mat-icon iconPositionEnd>check</mat-icon>
                            </button>
                        </div>
                        <div [class]="ticketDetail?.status===1||ticketDetail?.ticketStatusId===4||ticketDetail?.ticketStatusId===3?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-cancel" mat-flat-button (click)="onCancellingTicket()" [disabled]="ticketDetail?.status===1||ticketDetail?.ticketStatusId===4||ticketDetail?.ticketStatusId===3">
                                Cancel
                                <!-- <mat-icon iconPositionEnd>close</mat-icon> -->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-step>
</mat-stepper>

<!-- <mat-stepper #stepper *ngIf="userDetail.isDeptartmentHead == false">
    <mat-step class="mat-step-container">
        <div class="header">
            
            <h1>Tickets</h1>
        </div>
        <div class="filter-container">
            <div class="txt-search">
                <input type="text" placeholder="Search tickets" #search [(ngModel)]="searchValue" (keyup)="searchTicket(search.value)">
                <mat-icon>search</mat-icon>
            </div>
            <div class="btn-filter">
                <mat-icon>filter_alt</mat-icon>
                <span>Filter</span>
            </div>
        </div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #tabRef>
            <mat-tab class="tab-container">
                <ng-template class="tab-label" mat-tab-label>
                    <span style="font-size: 20px;">Pending</span>
                    <span class="mat-badge-icon" *ngIf="unassigend > 0 && unassigend <= 99" matBadge={{unassigend}} matBadgeColor="accent"></span>
                    <span class="mat-badge-icon" *ngIf="unassigend > 99" matBadge="99+" matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab: tabRef.selectedIndex})">
                           
                            <mat-card *cdkVirtualFor="let item of collections" matRipple (click)="next(item)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}</mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item?.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        
                                        <div [class]="'action-'+item?.priorityName.toLowerCase()">
                                            <label>{{item?.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label matBadgeColor="accent">
                    <span style="font-size: 20px;">Resolved</span>
                    <span class="mat-badge-icon" *ngIf="assigned > 0 && assigned <= 99" matBadge={{assigned}} matBadgeColor="accent"></span>
                    <span class="mat-badge-icon" *ngIf="assigned > 99" matBadge={{assigned}} matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab: tabRef.selectedIndex})">
                            <mat-card *cdkVirtualFor="let item of collections" (click)="next(item)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}</mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>{{item.assignedName}}</label>
                                        </div>
                                        <div [class]="'action-'+item.priorityName.toLowerCase()">
                                            <label>{{item.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span style="font-size: 20px;">All</span>
                    <span class="mat-badge-icon" *ngIf="alltickets>0 && assigned <= 99" matBadge={{alltickets}} matBadgeColor="accent"></span>
                    <span class="mat-badge-icon" *ngIf="alltickets > 99" matBadge="99+" matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab: tabRef.selectedIndex})">
                            <mat-card *cdkVirtualFor="let item of collections" (click)="next(item)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}</mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>{{item.isAssigned?item.assignedName:'Unassigned'}}</label>
                                        </div>
                                        <div [class]="'action-'+item.priorityName.toLowerCase()">
                                            <label>{{item.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-step>
    <mat-step>
        <div class="ticket-container">
            <div class="ticket-content" *ngIf="ticketDetail">
                <div class="ticket-header">
                    <p class="ticket-toolbar">
                        <mat-icon (click)="goBack()">arrow_back</mat-icon>
                        <span>
                            <h1>{{ticketDetail.title}}</h1>
                        </span>
                        <span class="ticketno">#{{ticketDetail.ticketNo}}</span>
                    </p>
                    <p class="ticket-description">{{ticketDetail?.description}}</p>
                </div>
                <div class="cthbody">
                    <div class="body">
                        <div class="bodyheader">
                            <div class="cthbodyheader">
                                <label for="">Conversation</label>
                                <mat-icon>more_vert</mat-icon>
                            </div>
                        </div>
                        <div #tabsContentRefComment [scrollTop]="tabsContentRefComment.scrollHeight"
                            class="bodycontent">
                            <div class="commentlist" *ngFor="let data of ticketcomment">

                                <div class="notyourcomment" *ngIf="!data.IsYou && data.isMessage">
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                    <div class="commentcard">
                                        <div class="message" *ngIf="data.isMessage && !data.isImage">{{data.Message}}
                                        </div>
                                        <div class="attachmFile" *ngIf="data.isImage">
                                            <img *ngIf="data.ImageAttachment != ''" src={{data.ImageAttachment}} alt="">
                                            <img *ngIf="data.ImageAttachment == ''"
                                                src="assets/image/icon_blank_profile.png" alt="">
                                        </div>

                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="isyourcomment" *ngIf="data.IsYou && data.isMessage">
                                    <div class="yourcommentcard">
                                        <div class="message" *ngIf="data.isMessage && !data.isImage">{{data.Message}}
                                        </div>
                                        <div class="attachmFile" *ngIf="data.isImage">
                                            <img *ngIf="data.ImageAttachment != ''" src={{data.ImageAttachment}} alt="">
                                            <img *ngIf="data.ImageAttachment == ''"
                                                src="assets/image/icon_blank_profile.png" alt="">
                                        </div>
                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                </div>
                                <div class="isforwarded" *ngIf="!data.IsYou && !data.isMessage">
                                    <div class="forwarded">
                                        <label for="">Ticket has been forwarded to&nbsp;</label>
                                        <div class="forwardinfo"> {{data.Department}}&nbsp;>&nbsp;{{data.DisplayName}}
                                        </div>
                                    </div>
                                    <div class="messageinfo">
                                        <div class="message">{{data.Message}}</div>
                                        <div class="date">{{data.CommentDate}}</div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="cthfooter" *ngIf="Status != 4 && Status !=6 && ticketDetail?.status !== 6 ">
                    <div class="footerbody">
                        <div class="commentcontent" [formGroup]="commentform">
                            <textarea formControlName="Message" name="" id="" rows="4"
                                placeholder="Write  your response for issue"></textarea>
                        </div>
                        <div class="buttoncomment">

                            <div class="attachmentcomment">

                                <label for="file1">

                                    <div class="fa fa-paperclip"></div>
                                    <span>Attachment</span>

                                </label>

                                <input *ngIf="uploaded.length < 5" #fileInput id="file1" type="file"
                                    accept=".png, .jpg, .gif" name="file"
                                    (change)="onFileSelected($event, fileInput)" />
                            </div>
                            <button (click)="hSendComment()">Send</button>
                        </div>
                    </div>

                </div>
                <div class="acknoledgefooter" *ngIf="Status == 6 || ticketDetail?.status === 6">
                    <div class="acknowledge">
                        <div class="footerbody">
                            <label class="label1" for="">This ticket is closing</label>
                            <label class="label2" for="">Wait for the requester to confirm to finalize closure</label>
                            <label class="label3" for="" (click)="cancel()">or cancel</label>
                        </div>
                    </div>
                </div>

                <div class="acknoledgefooter" *ngIf="Status == 4">
                    <div class="acknowledge">
                        <div class="footerbody" *ngIf="Status == 4">
                            <label class="label1" for="">This ticket is resolved</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-info-content">
                <div class="side-inner-content">
                    <mat-card class="card-requester-detail">
                        <mat-card-header>
                            <mat-card-title>Requester Detail</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="icon-img">
                                <img [src]="">
                            </div>
                            <div class="requester-name">
                                <span>{{ticketDetail?.requestName??'Arnold Schwarzenegger'}}</span>
                                <span class="username">&#64;{{ticketDetail?.requestUsername??'terminator'}}</span>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                        </mat-card-footer>
                    </mat-card>
                    <mat-card class="card-ticket-info">
                        <mat-card-header>
                            <mat-card-title>Ticket Info</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <label>
                                <p>Ticket ID:&emsp;<span class="ticketno">#{{ticketDetail?.ticketNo}}</span></p>
                            </label>
                            <label>
                                <p>Created:&emsp;<span>{{dateFormatted(false,ticketDetail?.dateCreated)}}</span></p>
                            </label>
                            <label>
                                <p>Last message:&emsp;<span>#1E233</span></p>
                            </label>
                            <label>
                                <p>Status:&emsp;<span [class]="'ticket-'+ticketDetail?.ticketStatus.toLowerCase()">{{ticketDetail?.ticketStatus}}</span></p>
                            </label>
                            <label>
                                <p>Priority:&emsp;<span [class]="'action-'+ticketDetail?.priorityName.toLowerCase()"><label class="label-priority">{{ticketDetail?.priorityName}}</label></span></p>
                            </label>
                        </mat-card-content>
                        <mat-card-footer></mat-card-footer>
                    </mat-card>
                    <mat-card class="assignedTo-info" *ngIf="ticketDetail?.isAssigned">
                        <mat-card-header>
                            <mat-card-title>Assigned-To</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span><h4>Department</h4></span>
                            <div class="detail">
                                <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div>
                                <div class="requester-name">
                                    <span>{{ticketDetail?.departmentName}}</span>
                                    <span class="username">&#64;{{ticketDetail?.departmentName.toLowerCase().replace(' ','')}}</span>
                                </div>
                            </div>
                            <span *ngIf="ticketDetail?.assignedId"><h4>Name</h4></span>
                            <div class="detail" *ngIf="ticketDetail?.assignedId">
                                <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div>
                                <div class="requester-name">
                                    <span>{{ticketDetail?.assignedName}}</span>
                                    <span class="username">&#64;{{ticketDetail?.assignedUsername??'terminator'}}</span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div class="forward-resolve-container" *ngIf="ticketDetail?.assignedId===userDetail.USR_ID&&ticketDetail?.ticketStatus==='Open'">
                        <div [class]="ticketDetail?.isForwarded||ticketDetail?.status===6?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-forward" mat-flat-button (click)="forwardingTicket()" [disabled]="ticketDetail?.isForwarded||ticketDetail?.status===6">
                                <mat-icon iconPositionEnd>east</mat-icon>
                                Forward
                            </button>
                        </div>
                        <div [class]="ticketDetail?.isForwarded||ticketDetail?.status===6?'footer-buttons disabled':'footer-buttons'">
                            <button class="btn-resolve" mat-flat-button (click)="onResolvingTicket()" [disabled]="ticketDetail?.isForwarded||ticketDetail?.status===6">
                                Resolve
                                <mat-icon iconPositionEnd>check</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="footer-inner-container" *ngIf="!ticketDetail?.isAssigned">
                        <div class="inner-content">
                            <div class="assign-to">
                                <div>
                                    <h2>Assign To</h2>
                                </div>
                                <div class="searchbar">
                                    <div class="select-label"><mat-label>Name</mat-label></div>
                                    <div class="custom-select">
                                        <mat-select [value]="ticketDetail?.assignedTo">
                                            <mat-option (click)="onSelectAssignee(personnel)" *ngFor="let personnel of personnels" [value]="personnel.userId">{{personnel.name}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="footer-buttons">
                                    <button class="btn-return" mat-flat-button (click)="onReturningTicket()">
                                        <mat-icon>west</mat-icon>
                                        Return
                                    </button>
                                </div>
                                <div class="footer-buttons">
                                    <button class="btn-assign" mat-flat-button (click)="onAssigningTicket()">
                                        Asssign
                                        <mat-icon iconPositionEnd>edit_square</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-step>
</mat-stepper> -->
<div class="nodata" *ngIf="collections.length == 0">No data</div>
<div class="loader" *ngIf="loader"></div>

<!-- <mat-tab *ngIf="isTicketContentShow">
    
</mat-tab> -->