:host{
    overflow-y: scroll;
    scroll-behavior: auto;
}
.container {
    height: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 16px 0px 16px 0px;
    }

    .body {
        padding: 16px 0px 16px 0px;

        .bodyheader {
            display: flex;
            align-items: center;
            height: 94px;
            justify-content: space-between;
            padding: 10px 0px;
        }
    }
}


.menu-nav-bar {
    //background: #e5e4e5;
    border-radius: 20px;

}

.menu-nav-bar:hover {
    border-radius: 20px;
}

.menu-nav {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    //background-color: transparent;
    //background: #827d7d;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    //border-radius: 20px;

    .menu-nav-item {
        display: inline-flex;
        //padding: 0px 10px 0px 10px;
        height: 100%;
        align-items: center;

        .menu-nav-button {
            width: 170px;
            height: 3rem;
            border: none;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }

        .menu-nav-button:hover {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1.5px;
            background: #827d7d;
            color: #fff;
            border-top-right-radius: 20px;

            border-top-left-radius: 20px;
        }

        .menu-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #000;
            text-decoration: none;
            transition: all .3s ease;

            justify-content: center;
            //background: #888080;
            width: 100px;

            //width: 100%;
            font .menu-nav-link-text {
                font-size: 20px;
                font-weight: bold;
                //color: #9E9E9E;
                width: 100%;
                margin-left: 1.5rem;
            }
        }
    }

    .menu-nav-item:hover {
        .menu-nav-link {
            //border-bottom: solid 3px #3818D9;
            //border-radius: 0px 20px 0px 20px;
            color: #ab3535;
            font-weight: 500;
            letter-spacing: 2px;
            font-weight: bold;
        }
    }
}

.headerlabel {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    color: #202020;
}

.newbutton {
    background: #3818D9;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 20px 10px 20px;
    border-radius: 5pc;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.active {
    //background-color: #3818D9;
    //border-bottom: solid 3px #3818D9;
    color: #000;
    font-weight: 900;
    background: #827d7d;
    //border-radius: 0px 20px 0px 0px;

    .menu-link-icon,
    .menu-nav-link-text {
        color: #fff;
        letter-spacing: 2px;
    }
}

.menu-nav-button1 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
    background: #827d7d;
    color: #fff;
    border-top-right-radius: 20px;

    border-top-left-radius: 20px;
    height: 3rem;
    width: 170px;
    border: none;
}


.ticketbody {
    height: 95%;

    .bodyheader {
        padding: 0px 0px 20px 0px;
    }

    .bodycontent {
        width: 100%;
        height: calc(100% - 3.313rem);
        overflow: auto;

        .cardcontent {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0px 10px 0px 0px;
        }

        .cardticket {
            width: 100%;
            border-radius: 10px;
            box-shadow: 2px 2px 10px 1px #91818181;
            padding: 0px 10px;

            .cardticketcontent {
                display: flex;
                flex-direction: column;
                //padding: 0px 0px 20px 0px;
                gap: 10px;
                border-bottom: solid 1px #e6e3e3;

                .cardheader {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 0px;
                    border-bottom: solid 1px #e6e3e3;

                    .headertitle {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 28px;
                        color: #202020;
                    }

                    .headerdate {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        color: #202020;
                    }
                }

                .cardticketbody {
                    text-align: justify;
                    padding: 0px 0px 20px 0px;
                }

                .cardticketfooter {
                    display: flex;
                    gap: 20px;
                    padding: 20px 0px;
                    border-top: solid 1px #e6e3e3;

                    .prioritylevel {
                        padding: 10px;
                        border: solid 1px #E2A1A1;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    .prioritylevel:hover {
                        box-shadow: 2px 2px 10px 1px #91818181;
                    }

                    button {
                        padding: 10px;
                        background: none;
                        border: solid 1px #E2A1A1;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    button:hover {
                        box-shadow: 2px 2px 10px 1px #91818181;

                    }
                }
            }

        }
    }

    .cardticket {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}