<app-newusermodal *ngIf="generalSerive.showDialog"></app-newusermodal>
<div class="container">
    <div class="userheader">
        <div class="headerlabel">
            <h1>Users </h1>
        </div>

        <div class="hedaersearchtab">
            <div class="searchinput">
                <div class="searchicon">
                    <i class="fa fa-light fa-search"></i>
                    <input type="text" class="searchuserinput" placeholder="Search user" [formControl]="Search"
                        (change)="hSearchUsers()" (keyup)="hSearchUsers()">
                </div>
            </div>
            <div class="addbuttontab" (click)="NewUser()">
                <div class="useraddbutton">
                    <i class="fa fa-light fa-user-plus"></i>
                    <button class="addbutton">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="userbody">
        <div class="contentheader">
            <div class="headerpic">Profile Picture</div>
            <div class="headername">Name</div>
            <div class="headerdepartment">Department</div>
            <div class="headerorle">Position</div>
            <div class="headerlastseen">Last login</div>
        </div>
        <div class="contentdetails">
            <div class="usercard1" *ngFor="let data of usersList, let i = index">
                <div class="usercard" (click)="hViewUuser(data, i)">
                    <div class="detailspic">
                        <img *ngIf="data.ProfilePicture == ''" src="assets/image/icon_blank_profile.png" alt="">
                        <img *ngIf="data.ProfilePicture != ''" src={{data.ProfilePicture}} alt="">
                    </div>
                    <div class="detailsname">
                        <div class="name">{{data.Name}}</div>
                        <div class="email">{{data.AccountTypeName}}</div>
                        <div class="email">{{data.EmailAddress}}</div>
                        <div class="registereddate">{{data.RegisteredDate}}</div>
                    </div>
                    <div class="detailsdepartment">{{data.Department}}</div>
                    <div *ngIf="data.PositionID != ''">
                        <div *ngIf="i%2 == 1" class="detailsrole1"><label for="">{{data.Position}}</label></div>
                        <div *ngIf="i%2 == 0" class="detailsrole2"><label for="">{{data.Position}}</label></div>
                    </div>
                    <div *ngIf="data.Position == ''" style="width: 200px;">

                    </div>
                    <div class="detailslastseen">{{data.LastSeen}}</div>
                </div>

            </div>

        </div>
    </div>

    <div class="nodata" *ngIf="usersList.length == 0">No data</div>
    <div class="loader" *ngIf="loader"></div>

</div>