<div class="container" [hidden]="viewRequestorPage">
    <div class="header">
        <div class="headerlabel">
            Tickets
        </div>

        <div class="newticketbutton">
            <!-- <button class="newbutton" (click)="generalSerive.showDialog = true">New Ticket</button> -->
            <button class="newbutton" (click)="openpopnewticket()">New Ticket</button>
        </div>
    </div>
    <div class="ticketbody">
        <div class="bodyheader" [ngClass]="changeclass ? 'bodyheader-column' : ''">
            <div class="menu-nav-bar" *ngIf="collapsed">
                <ul class="menu-nav">
                    <li class="menu-nav-item ">
                        <button [ngClass]="unassigned == true ? 'menu-nav-button1' : 'menu-nav-button'"
                            (click)="hPending()">Pending
                            <span [ngClass]="pending == '0' ? '' : 'valueclasspending'"
                                [hidden]="pending == '0' ? true : false">{{pending}}</span></button>
                    </li>
                    <li class="menu-nav-item">
                        <button [ngClass]="assigned == true ? 'menu-nav-button1' : 'menu-nav-button'"
                            (click)="hResolved()">Resolved
                            <span [ngClass]="resolve == '0' ? '' : 'valueclassresolved'"
                                [hidden]="resolve == '0' ? true : false">{{resolve}}</span>
                        </button>
                    </li>
                    <li class="menu-nav-item">
                        <button [ngClass]="all == true ? 'menu-nav-button1' : 'menu-nav-button'" (click)="hAll()">All
                            <span [ngClass]="allticket == '0' ? '' : 'valueclassall'"
                                [hidden]="allticket == '0' ? true : false">{{allticket}}</span></button>
                    </li>
                </ul>
            </div>
            <button class="hamburger" [matMenuTriggerFor]="menu" [hidden]="collapsed"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu" class="custom">

                    <ul class="menu-nav1">
                        <li class="menu-nav-item ">
                            <button [ngClass]="unassigned == true ? 'menu-nav-button2' : 'menu-nav-button'"
                                (click)="hPending()">Pending
                                <span [ngClass]="pending == '0' ? '' : 'valueclasspending'"
                                    [hidden]="pending == '0' ? true : false">{{pending}}</span></button>
                        </li>
                        <li class="menu-nav-item">
                            <button [ngClass]="assigned == true ? 'menu-nav-button2' : 'menu-nav-button'"
                                (click)="hResolved()">Resolved
                                <span [ngClass]="resolve == '0' ? '' : 'valueclassresolved'"
                                    [hidden]="resolve == '0' ? true : false">{{resolve}}</span>
                            </button>
                        </li>
                        <li class="menu-nav-item">
                            <button [ngClass]="all == true ? 'menu-nav-button2' : 'menu-nav-button'"
                                (click)="hAll()">All
                                <span [ngClass]="allticket == '0' ? '' : 'valueclassall'"
                                    [hidden]="allticket == '0' ? true : false">{{allticket}}</span></button>
                        </li>
                    </ul>
                
            </mat-menu>
            <div class="searchtab">
                <div class="searchinput">
                    <div class="searchicon">
                        <i class="fa fa-light fa-search"></i>
                        <input class="searchticketinput" type="text" placeholder="Seach Ticket" [formControl]="Search"
                            (change)="hSearchTicket()">
                    </div>
                    <div class="filtericon">
                        <i class="fa fa-thin fa-filter"></i>
                        <button class="filterbutton" (click)="hSearchTicket()">Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div #tabsContentRef class="bodycontent" [ngSwitch]="selectedTab">
            <div class="cardcontent" *ngSwitchCase="('pending')">
                <div *ngFor="let data of ticketpending; index as i">
                    <div class="cardticket1" *ngIf="!data.isRead">
                        <div class="cardticketcontent" (click)="hViewComment(data)">
                            <div class="cardheader">
                                <div class="headertitle">{{data.TitleTicket}}</div>
                                <div class="headerdate">{{data.CreatedDate}}</div>
                            </div>
                            <div class="cardticketbody">{{data.TicketDescription}}</div>
                            <div class="cardticketfooter">
                                <button>{{data.Statusname}}</button>
                                <div class="prioritylevel">
                                    {{data.PriorityLevelname}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="cardticket" *ngIf="data.isRead">
                        <div class="cardticketcontent" (click)="hViewComment(data)" *ngIf="data.isRead">
                            <div class="cardheader">
                                <div class="headertitle">{{data.TicketTitle}}</div>
                                <div class="headerdate">{{data.CreatedDate}}</div>
                            </div>
                            <div class="cardticketbody">{{data.TicketDescription}}</div>
                            <div class="cardticketfooter">
                                <button>{{data.Statusname}}</button>
                                <div class="prioritylevel">
                                    {{data.PriorityLevelname}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="data.NextFilter" class="loadmore">
                        <div (click)="hLoadMore(data, i)">Load More.. {{data.NextFilter.NextFilter}}</div>
                    </div>
                </div>


            </div>
            <div class="cardcontent" *ngSwitchCase="('resolve')">
                <div class="cardticket" *ngFor="let data of ticketpending; index as i ">
                    <div class="cardticketcontent">
                        <div class="cardheader">
                            <div class="headertitle">{{data.TitleTicket}}</div>
                            <div class="headerdate">{{data.CreatedDate}}</div>
                        </div>
                        <div class="cardticketbody">{{data.TicketDescription}}</div>


                        <div class="cardheader">
                            <div class="headertitle">{{data.TitleTicket}}</div>
                            <div class="headerdate">{{data.CreatedDate}}</div>
                        </div>
                        <div class="cardticketbody">{{data.TicketDescription}}</div>
                        <div class="cardticketfooter">
                            <button>{{data.Statusname}}</button>
                            <div class="prioritylevel">
                                {{data.PriorityLevelname}}
                            </div>
                        </div>
                        <!-- <div class="cardticketfooter">
                            <button>Unassigned</button>
                            <div class="prioritylevel">
                                {{data.PriorityLevel}}
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
            <div class="cardcontent" *ngSwitchCase="('all')">
                <div *ngFor="let data of ticketpending; index as i ">
                    <div class="cardticket1" *ngIf="!data.isRead">
                        <div class="cardticketcontent" (click)="hViewComment(data)">
                            <div class="cardheader">
                                <div class="headertitle">{{data.TitleTicket}}</div>
                                <div class="headerdate">{{data.CreatedDate}}</div>
                            </div>
                            <div class="cardticketbody">{{data.TicketDescription}}</div>
                            <!-- <div class="cardticketfooter">
                                <button>Unassigned</button>
                                <div class="prioritylevel">
                                    {{data.PriorityLevel}}
                                </div>
                            </div> -->
                        </div>

                    </div>
                    <div class="cardticket" *ngIf="data.isRead">
                        <div class="cardticketcontent" (click)="hViewComment(data)">
                            <div class="cardheader">
                                <div class="headertitle">{{data.TitleTicket}}</div>
                                <div class="headerdate">{{data.CreatedDate}}</div>
                            </div>
                            <div class="cardticketbody">{{data.TicketDescription}}</div>
                            <!-- <div class="cardticketfooter">
                                <button>Unassigned</button>
                                <div class="prioritylevel">
                                    {{data.PriorityLevel}}
                                </div>
                            </div> -->
                        </div>

                    </div>

                    <div *ngIf="data.NextFilter" class="loadmore">
                        <div (click)="hLoadMore(data, i)">Load More.. {{data.NextFilter.NextFilter}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="containercomment" [hidden]="viewTicketComment">
    <div class="bodycomment">
        <div class="ticketcomment">
            <div class="cthcomment">
                <div class="cth">
                    <div class="cthtitle">
                        <div class="cthback fa fa-arrow-left" (click)="hViewRequestorPage()"></div>
                        <div class="cthdtitle">
                            <div class="titledetails">{{tickettitle}}</div>

                            <span class="ticketid">#{{TicketNo}}</span>
                        </div>
                    </div>
                    <div class="cthtitledetails">{{TicketDescription}}
                    </div>
                </div>
                <div class="cthbody">
                    <div class="body">
                        <div class="bodyheader">
                            <div class="cthbodyheader">
                                <label for="">Conversation</label>
                                <mat-icon>more_vert</mat-icon>
                            </div>
                        </div>
                        <div class="bodycontent">
                            <div class="commentlist" *ngFor="let data of ticketcomment">
                                <div class="notyourcomment" *ngIf="!data.IsYou && data.isMessage">
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                    <div class="commentcard">
                                        <div class="message">{{data.Message}}</div>
                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="isyourcomment" *ngIf="data.IsYou && data.isMessage">
                                    <div class="yourcommentcard">
                                        <div class="message">{{data.Message}}</div>
                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                </div>
                                <div class="isforwarded" *ngIf="!data.IsYou && !data.isMessage">
                                    <div class="forwarded">
                                        <label for="">Ticket has been forwarded to&nbsp;</label>
                                        <div class="forwardinfo"> {{data.Department}}&nbsp;>&nbsp;{{data.DisplayName}}
                                        </div>
                                    </div>
                                    <div class="messageinfo">
                                        <div class="message">{{data.Message}}</div>
                                        <div class="date">{{data.CommentDate}}</div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="cthfooter">
                    <div class="footerbody">
                        <div class="commentcontent" [formGroup]="commentform">
                            <textarea formControlName="Message" name="" id="" rows="4"
                                placeholder="Write  your response for issue"></textarea>
                        </div>
                        <div class="buttoncomment">
                            <button class="attachmentcomment"><span class="fa fa-paperclip"> Attachment</span>
                            </button>
                            <button (click)="hSendComment()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ticketdetails">
            <div class="requestticketdetail">
                <!-- <div class="requestercard">
                    <div class="cardheader">
                        Request Detail
                    </div>
                    <div class="cardbody">
                        <div class="profpic">
                            <img src="assets/image/icon_blank_profile.png" alt="">
                        </div>

                        <div class="detail">
                            <label class="requestername">Sona Gupta</label>
                            <label class="requesteremail">sonal123&#64;gmail.com</label>
                        </div>
                    </div>
                </div> -->
                <div class="ticketcard">
                    <div class="ticketinfo">Ticket Info</div>
                    <div class="ticketid"><label for="">Ticket ID: </label><button>#{{TicketNo}}</button></div>
                    <div class="created"><label class="title" for="">Created: </label><label
                            for="">{{CreatedDate}}</label>
                    </div>
                    <div class="lastmessage" *ngIf="LastMessage ==''"><label class="title" for="">Last message:
                        </label><label for="">{{LastMessage}}</label></div>
                    <div class="status"><label for="">Status </label> <button>{{TicketStatusname}}</button></div>
                    <div class="priority"><label for="">Pririoty</label> <button>{{PriorityLevelname}}</button></div>
                </div>
                <div class="ticketassigninfo" *ngIf="isAssigned == true">
                    <div class="assignedto">Assigned to</div>
                    <div class="departmentinfo">Department</div>
                    <div class="departmentheadinfo">
                        <img src="assets/image/icon_blank_profile.png" alt="">
                        <div class="headinfo">
                            <div class="depthead">{{'Team Sneak'}}</div>
                            <label for="">{{'teamsneak3&#64;gmail.com'}}</label>
                        </div>
                    </div>
                    <div class="personname">{{'Name'}}</div>
                    <div class="personinchargeinfo">
                        <div class="profpic">
                            <img src="assets/image/icon_blank_profile.png" alt="">
                        </div>
                        <div class="person">
                            <div class="name">{{'Sonal Gupta'}}</div>
                            <label for="">{{'teamsneak3&#64;gmail.com'}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>