<div class="container" [hidden]="viewRequestorPage">
    <div class="header">
        <div class="headerlabel">
            Tickets
        </div>

        <div class="newticketbutton">
            <!-- <button class="newbutton" (click)="generalSerive.showDialog = true">New Ticket</button> -->
            <button class="newbutton" (click)="openpopnewticket()">New Ticket</button>
        </div>
    </div>
    <div class="ticketbody">
        <div class="bodyheader" [ngClass]="changeclass ? 'bodyheader-column' : ''">
            <div class="menu-nav-bar" *ngIf="collapsed">
                <ul class="menu-nav">
                    <li class="menu-nav-item ">
                        <button [ngClass]="unassigned == true ? 'menu-nav-button1' : 'menu-nav-button'"
                            (click)="hPending()">Pending
                            <span [ngClass]="pending == '0' ? '' : 'valueclasspending'"
                                [hidden]="pending == '0' ? true : false">{{pending}}</span></button>
                    </li>
                    <li class="menu-nav-item">
                        <button [ngClass]="assigned == true ? 'menu-nav-button1' : 'menu-nav-button'"
                            (click)="hResolved()">Resolved
                            <span [ngClass]="resolve == '0' ? '' : 'valueclassresolved'"
                                [hidden]="resolve == '0' ? true : false">{{resolve}}</span>
                        </button>
                    </li>
                    <li class="menu-nav-item">
                        <button [ngClass]="all == true ? 'menu-nav-button1' : 'menu-nav-button'" (click)="hAll()">All
                            <span [ngClass]="allticket == '0' ? '' : 'valueclassall'"
                                [hidden]="allticket == '0' ? true : false">{{allticket}}</span></button>
                    </li>
                </ul>
            </div>
            <button class="hamburger" [matMenuTriggerFor]="menu" [hidden]="collapsed"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu" class="custom">

                <ul class="menu-nav1">
                    <li class="menu-nav-item ">
                        <button [ngClass]="unassigned == true ? 'menu-nav-button2' : 'menu-nav-button'"
                            (click)="hPending()">Pending
                            <span [ngClass]="pending == '0' ? '' : 'valueclasspending'"
                                [hidden]="pending == '0' ? true : false">{{pending}}</span></button>
                    </li>
                    <li class="menu-nav-item">
                        <button [ngClass]="assigned == true ? 'menu-nav-button2' : 'menu-nav-button'"
                            (click)="hResolved()">Resolved
                            <span [ngClass]="resolve == '0' ? '' : 'valueclassresolved'"
                                [hidden]="resolve == '0' ? true : false">{{resolve}}</span>
                        </button>
                    </li>
                    <li class="menu-nav-item">
                        <button [ngClass]="all == true ? 'menu-nav-button2' : 'menu-nav-button'" (click)="hAll()">All
                            <span [ngClass]="allticket == '0' ? '' : 'valueclassall'"
                                [hidden]="allticket == '0' ? true : false">{{allticket}}</span></button>
                    </li>
                </ul>

            </mat-menu>
            <div class="searchtab">
                <div class="searchinput">
                    <div class="searchicon">
                        <i class="fa fa-light fa-search"></i>
                        <input class="searchticketinput" type="text" placeholder="Seach Ticket" [formControl]="Search"
                            (keyup)="hSearchTicket()">
                    </div>
                    <div class="filtericon">
                        <i class="fa fa-thin fa-filter"></i>
                        <button class="filterbutton" (click)="hSearchTicket()">Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div #tabsContentRef class="bodycontent" [ngSwitch]="selectedTab">
            <div class="cardcontent" *ngSwitchCase="('pending')">
                <cdk-virtual-scroll-viewport class="scrolling-container" (scrolledIndexChange)="hScrollIndexChange()"
                    [itemSize]="50">
                    <div *cdkVirtualFor="let data of ticketpending; let i = index">
                        <div class="cardticket">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)">
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <!-- <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div> -->
                                    <div class="headerdate">{{data.CreatedDate}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="cardticket1" *ngIf="!data.isRead">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)">
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="cardticket" *ngIf="data.isRead">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)" *ngIf="data.isRead">
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
                            </div>

                        </div> -->
                        <!-- <div *ngIf="data.NextFilter" class="loadmore">
                            <div (click)="hLoadMore(data, i)">Load More.. {{data.NextFilter.NextFilter}}</div>
                        </div> -->
                    </div>
                </cdk-virtual-scroll-viewport>




            </div>
            <div class="cardcontent" *ngSwitchCase="('resolve')">
                <cdk-virtual-scroll-viewport class="scrolling-container" (scrolledIndexChange)="hScrollIndexChange()"
                    [itemSize]="50">
                    <div *cdkVirtualFor="let data of ticketpending; let i = index">
                        <!-- <div class="cardticket1" *ngIf="!data.isRead">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)">
        
        
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <div class="cardticket" *ngIf="data.isRead">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)">
        
        
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="cardticket">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)">
        
        
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <!-- <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div> -->
                                    <div class="headerdate">{{data.CreatedDate}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
                
            </div>
            <div class="cardcontent" *ngSwitchCase="('all')">
                <cdk-virtual-scroll-viewport class="scrolling-container" (scrolledIndexChange)="hScrollIndexChange()"
                    [itemSize]="50">
                    <div *cdkVirtualFor="let data of ticketpending; let i = index">
                        <!-- <div class="cardticket1" *ngIf="!data.isRead">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)">
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="cardticket" *ngIf="data.isRead">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)">
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
                            </div>

                        </div> -->
                        <div class="cardticket">
                            <div class="cardticketcontent" (click)="hViewComment(data, i)">
                                <div class="cardheader">
                                    <div class="headertitle">{{data.TitleTicket}}</div>
                                    <!-- <div class="headerdate">{{dateFormatted(true, data.CreatedDate)}}</div> -->
                                    <div class="headerdate">{{data.CreatedDate}}</div>
                                </div>
                                <div class="cardticketbody">{{data.TicketDescription}}</div>
                                <div class="cardticketfooter">
                                    <button>{{data.Statusname}}</button>
                                    <div class="prioritylevel">
                                        {{data.PriorityLevelname}}
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- <div *ngIf="data.NextFilter" class="loadmore">
                            <div (click)="hLoadMore(data, i)">Load More.. {{data.NextFilter.NextFilter}}</div>
                        </div> -->
                    </div>
                </cdk-virtual-scroll-viewport>


            </div>
        </div>
    </div>

</div>
<div class="containercomment" [hidden]="viewTicketComment">
    <div class="bodycomment">
        <div class="ticketcomment">
            <div class="cthcomment">
                <div class="cth">
                    <div class="cthtitle">
                        <div class="cthback fa fa-arrow-left" (click)="hViewRequestorPage()"></div>
                        <div class="cthdtitle">
                            <div class="titledetails">{{tickettitle}}</div>

                            <span class="ticketid">#{{TicketNo}}</span>
                        </div>
                    </div>
                    <div class="cthtitledetails">{{TicketDescription}}
                    </div>
                </div>
                <div class="cthbody">
                    <div class="body">
                        <div class="bodyheader">
                            <div class="cthbodyheader">
                                <label for="">Conversation</label>
                                <mat-icon>more_vert</mat-icon>
                            </div>
                        </div>
                        <div #tabsContentRefComment [scrollTop]="tabsContentRefComment.scrollHeight"
                            class="bodycontent">
                            <div class="commentlist" *ngFor="let data of ticketcomment">

                                <div class="notyourcomment" *ngIf="!data.IsYou && data.isMessage">
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                    <div class="commentcard">
                                        <div class="message" *ngIf="data.isMessage && !data.isImage">{{data.Message}}
                                        </div>
                                        <div class="attachmFile" *ngIf="data.isImage">
                                            <img *ngIf="data.ImageAttachment != ''" src={{data.ImageAttachment}} alt="">
                                            <img *ngIf="data.ImageAttachment == ''"
                                                src="assets/image/icon_blank_profile.png" alt="">
                                        </div>

                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="isyourcomment" *ngIf="data.IsYou && data.isMessage">
                                    <div class="yourcommentcard">
                                        <div class="message" *ngIf="data.isMessage && !data.isImage">{{data.Message}}
                                        </div>
                                        <div class="attachmFile" *ngIf="data.isImage">
                                            <img *ngIf="data.ImageAttachment != ''" src={{data.ImageAttachment}} alt="" onerror="">
                                            <img *ngIf="data.ImageAttachment == ''"
                                                src="assets/image/icon_blank_profile.png" alt="">
                                        </div>
                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                </div>
                                <div class="isforwarded" *ngIf="!data.IsYou && !data.isMessage">
                                    <div class="forwarded">
                                        <label for="">Ticket has been forwarded to&nbsp;</label>
                                        <div class="forwardinfo"> {{data.Department}}&nbsp;>&nbsp;{{data.DisplayName}}
                                        </div>
                                    </div>
                                    <div class="messageinfo">
                                        <div class="message">{{data.Message}}</div>
                                        <div class="date">{{data.CommentDate}}</div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="cthfooter" *ngIf="!(TicketStatus == 3 || TicketStatus == 1 || TicketStatus == 2)">
                    <div class="footerbody">
                        <div class="commentcontent" [formGroup]="commentform">
                            <textarea formControlName="Message" name="" id="" rows="4"
                                placeholder="Write  your response for issue"></textarea>

                            <!-- <div class="attachfile" *ngFor="let data of uploaded ">
                                    <img src={{data.base64}}  alt="">
                                </div> -->

                        </div>
                        <div class="buttoncomment">

                            <div class="attachmentcomment">

                                <label for="file1">

                                    <div class="fa fa-paperclip"></div>
                                    <span>Attachment</span>

                                </label>

                                <input *ngIf="uploaded.length < 5" #fileInput id="file1" type="file"
                                    accept=".png, .jpg, .gif" name="file"
                                    (change)="onFileSelected($event, fileInput)" />

                                <!-- <input type="file" #fileInput (change)="onFileSelectedComment($event,fileInput)"> -->

                            </div>

                            <!-- <button class="attachmentcomment"><span class="fa fa-paperclip"> Attachment</span>
                                <input type="file" multiple="multiple" (change)="onFileSelected($event)">
                            </button> -->
                            <button (click)="hSendComment()">Send</button>
                        </div>
                    </div>
                </div>
                <div class="acknoledgefooter" *ngIf="TicketStatus == 3">
                    <div class="acknowledge">
                        <div class="footerbody">
                            <label class="label1" for="">This ticket is closing</label>
                            <label class="label2" for="">Has your needs been fulfilled</label>
                            <div class="acceptbutton">
                                <button class="no" (click)="hDeclinedProgress()">No</button>
                                <button class="yes" (click)="hAcceptProgress()">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acknoledgefooter" *ngIf="TicketStatus == 2">
                    <div class="acknowledge">
                        <div class="footerbody" *ngIf="TicketStatus == 2">
                            <label class="label1" for="">This ticket is canceled</label>
                        </div>
                    </div>
                </div>

                <div class="acknoledgefooter" *ngIf="TicketStatus == 1">
                    <div class="acknowledge">
                        <div class="footerbody" *ngIf="TicketStatus == 1">
                            <label class="label1" for="">This ticket is resolved</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ticketdetails">
            <div class="requestticketdetail">
                <!-- <div class="requestercard">
                    <div class="cardheader">
                        Request Detail
                    </div>
                    <div class="cardbody">
                        <div class="profpic">
                            <img src="assets/image/icon_blank_profile.png" alt="">
                        </div>

                        <div class="detail">
                            <label class="requestername">Sona Gupta</label>
                            <label class="requesteremail">sonal123&#64;gmail.com</label>
                        </div>
                    </div>
                </div> -->
                <div class="ticketcard">
                    <div class="ticketinfo">Ticket Info</div>
                    <div class="ticketid"><label for="">Ticket ID: </label><button>#{{TicketNo}}</button></div>
                    <div class="created"><label class="title" for="">Created: </label><label
                            for="">{{CreatedDate}}</label>
                    </div>
                    <div class="lastmessage" *ngIf="ticketcomment.length > 0">
                        <label class="title" for="">Last message:</label>
                        <label for="">{{dateFormatted(false,LastMessage)}}</label>
                    </div>
                    <div class="status"><label for="">Status: </label> <button>{{TicketStatusname}}</button></div>
                    <div class="priority"><label for="">Priority:</label> <button>{{PriorityLevelname}}</button></div>
                </div>
                <div>

                </div>
                <div class="ticketassigninfo" *ngIf="DepartmentName != '' ">
                    <div *ngIf="DepartmentName != ''">
                        <div class="assignedto">Assigned to</div>
                        <div class="departmentinfo">Department</div>
                        <div class="departmentheadinfo">
                            <img src="assets/image/icon_blank_profile.png" alt="">
                            <div class="headinfo">
                                <div class="depthead">{{DepartmentName}}</div>
                                <!-- <label for="">{{'teamsneak3&#64;gmail.com'}}</label> -->
                            </div>
                        </div>
                    </div>

                    <div *ngIf="AssignedAccountname != ''">
                        <div class="personname">{{'Name'}}</div>
                        <div class="personinchargeinfo">
                            <div class="profpic">
                                <img *ngIf="AssignedAccountProfilePicture == ''"
                                    src="assets/image/icon_blank_profile.png" alt="">
                                <img *ngIf="AssignedAccountProfilePicture != ''" src={{AssignedAccountProfilePicture}}
                                    alt="">
                            </div>
                            <div class="person">
                                <div class="name">{{AssignedAccountname}}</div>
                                <label for="">{{AssignedAccountEmail}}</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="!(TicketStatus == 1 || TicketStatus == 2)" class="update" (click)="hUpdateTicket()">
                    <i class="fa fa-regular fa-edit"></i>
                    <button>Update</button>
                </div>
                <div *ngIf="ticketupdate.Attachment != ''" class="viewattachment" (click)="hViewAttachment()">
                    <i class="fa fa-regular fa-paperclip"></i>
                    <button>View Attachment</button>
                </div>
                <!-- <div class="viewattachment" (click)="logNotify()">
                    <i class="fa fa-regular fa-paperclip"></i>
                    <button>Test Notification</button>
                </div> -->
            </div>
        </div>


    </div>

</div>

<!-- <div class="nodata" *ngIf="ticketpending.length == 0">No data</div> -->
<div class="loader" *ngIf="loader"></div>