.container {
    height: 100%;
    padding: 30px;
    width: 100%;
    min-width: 768px;

    .pageheader {
        display: flex;
        justify-content: space-between;
        padding: 16px 0px 16px 0px;

        label {
            font-size: 36px;
            font-weight: 500;
            line-height: 44px;
            color: #202020;
        }
    }

    .pagebody {
        height: 95%;

        .bodycontent {
            height: 95%;

            .cardcontent {
                height: 100%;

                .header {
                    display: flex;
                    //justify-content: flex-end;
                    padding: 20px 0px 20px 0px;
                    height: 80px;
                    width: 100%;

                    .searchtab {
                        // width: 385px;
                        width: 100%;
                        display: flex;
                        //justify-content: flex-end;
                        justify-content: space-between;
                        gap: 10px;

                        .searchbar {
                            border: solid 1px #9E9E9E;
                            border-radius: 10px;
                            height: 30px;

                            display: flex;
                            justify-content: flex-end;
                            gap: 8px;
                            padding: 0px 10px;
                            //width: 100%;
                            width: 300px;
                            align-items: center;
                            height: 100%;

                            input {
                                outline: none;
                                border: none;
                                width: 100%;
                                height: 100%;
                            }

                            button,
                            filter {
                                border: none;
                                background: none;
                            }
                        }

                        .newbutton {
                            background: #3818D9;
                            color: #fff;
                            width: 180px;
                            display: flex;
                            gap: 10px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 10px;
                            border: none;
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                        }

                        // .newbutton:hover {
                        //     letter-spacing: 2px;
                        // }

                        .searchicon {
                            font-size: 20px;
                            display: flex;
                            align-items: center;
                            height: 62px;
                            width: 221%;
                            border: solid 0.5px #9E9E9E;
                            border-radius: 10px;
                            gap: 15px;
                            padding: 15px 50px 15px 15px;

                            .fa {
                                color: #5f5f5f;
                            }
                        }

                        .filtericon {
                            display: flex;
                            width: 104px;
                            align-items: center;
                            gap: 15px;
                        }

                        .serachinput {
                            display: flex;
                            justify-content: flex-end;
                            gap: 8px;

                            .searchticketinput {
                                border: none;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                width: 100%;
                                outline: none;
                            }

                            .filterbutton {
                                color: #5f5f5f;
                                background: none;
                                border: none;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .body {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 92%;

                    .theader {
                        //background: #918181;
                        color: #3f3f3f;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        padding: 0px 20px;
                        letter-spacing: 1px;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        //box-shadow: 3px -3px 10px 5px #918181;
                        margin-bottom: 10px;
                        border-bottom: solid 1px #9E9E9E;
                        //display: flex;
                        //justify-content: space-between;
                        .theader1{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            .thdepartment{
                                width: 250px;
                            }
                            .thhead{
                                width: 250px;
                            }
                            .thnoofstaff{
                                width: 150px;
                                text-align: center;
                            }
                        }
                        // .thevent{
                        //     width: 20%;
                        // }
                        
                    }

                    .tabdetails {
                        height: 100%;
                        overflow: auto;
                        padding: 0px 5px 0px 5px;

                        .trow {
                            width: 100%;
                            display: flex;
                            //flex-direction: column;
                            padding: 10px 0px 0px 0px;
                            //padding: 20px 10px 20px 10px;
                            border-radius: 10px;
                            //box-shadow: 2px 2px 10px 1px #91818181;
                            cursor: pointer;
                            .tabcard {
                                width: 100%;
                                //border: solid 1px #000;
                                display: flex;
                                justify-content: space-between;
                                padding: 20px 10px 20px 10px;
                                border-radius: 10px;
                                //box-shadow: 2px 2px 10px 1px #91818181;
                                .tabcarddetails{
                                    width: 250px;
                                }
                                .tabcarddetailsHead{
                                    width: 250px;

                                }
                                .tabcarddetailsnoofstaff{
                                    width: 150px;
                                    text-align: center;
                                }


                            }
                            
                            .tabcardbutton {
                                display: flex;
                                gap: 10px;
                                width: 20%;
                                justify-content: center;
                                align-items: center;

                                .btnview {
                                    border: solid 1px #3818D9;
                                    border-radius: 10px;
                                    width: 80px;
                                    height: 30px;
                                    cursor: pointer;
                                }

                                .btnview:hover {
                                    box-shadow: 2px 2px 10px 1px #3818D9;
                                    text-shadow: 2px 2px 10px 1px #3818D9;
                                    letter-spacing: 2px;
                                }

                                .btnUpdate {
                                    border: solid 1px #18d9c2;
                                    border-radius: 10px;
                                    width: 80px;
                                    height: 30px;
                                    cursor: pointer;
                                }

                                .btnUpdate:hover {
                                    box-shadow: 2px 2px 10px 1px #18d9c2;
                                    text-shadow: 2px 2px 10px 1px #18d9c2;
                                    letter-spacing: 2px;
                                }
                            }

                            /*

                            .tabcard:hover {
                                background: #918181;
                                color: #fff;
                                font-size: 20px;
                                font-weight: 700;
                            }
                            */
                        }
                        .trow:hover{
                            background: #e0d7d7;
                                color: #3f3f3f;
                                font-size: 20px;
                                font-weight: 400;
                        }
                    }
                }
            }
        }
    }






}




.menu-nav-bar {
    //background: #e5e4e5;
    border-radius: 20px;

}

.menu-nav-bar:hover {
    border-radius: 20px;
}

.menu-nav {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    //background-color: transparent;
    //background: #827d7d;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    //border-radius: 20px;

    .menu-nav-item {
        display: inline-flex;
        //padding: 0px 10px 0px 10px;
        height: 100%;
        align-items: center;

        .menu-nav-button {
            width: 170px;
            height: 3rem;
            border: none;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            background: none;
        }

        .menu-nav-button:hover {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1.5px;
            //background: #827d7d;
            //color: #fff;
            //border-top-right-radius: 20px;

            //border-top-left-radius: 20px;
        }

        .menu-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #000;
            text-decoration: none;
            transition: all .3s ease;

            justify-content: center;
            //background: #888080;
            width: 100px;

            //width: 100%;
            font .menu-nav-link-text {
                font-size: 20px;
                font-weight: bold;
                //color: #9E9E9E;
                width: 100%;
                margin-left: 1.5rem;
            }
        }
        
    }

    .menu-nav-item:hover {
        .menu-nav-link {
            //border-bottom: solid 3px #3818D9;
            //border-radius: 0px 20px 0px 20px;
            color: #ab3535;
            font-weight: 500;
            letter-spacing: 2px;
            font-weight: bold;
        }
    }
}

.active {
    //background-color: #3818D9;
    //border-bottom: solid 3px #3818D9;
    color: #000;
    font-weight: 900;
    background: #827d7d;
    //border-radius: 0px 20px 0px 0px;

    .menu-link-icon,
    .menu-nav-link-text {
        color: #fff;
        letter-spacing: 2px;
    }
}

.menu-nav-button1 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
    background: none;
    //background: #827d7d;
    //color: #fff;
    //border-top-right-radius: 20px;

    //border-top-left-radius: 20px;
    height: 3rem;
    width: 170px;
    border: none;
    border-bottom: solid #3818D9;
}

.menu-nav-bar1 {
    //background: #e5e4e5;
    border-radius: 20px;

}

.menu-nav-bar1:hover {
    border-radius: 20px;
}

.menu-nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    //background-color: transparent;
    //background: #827d7d;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    //border-radius: 20px;

    .menu-nav-item {
        display: inline-flex;
        //padding: 0px 10px 0px 10px;
        height: 100%;
        align-items: center;

        .menu-nav-button {
            width: 170px;
            height: 3rem;
            border: none;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            background: none;
            text-align: left;
            padding: 0px 0px 0px 20px;
        }

        .menu-nav-button:hover {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1.5px;
            //background: #827d7d;
            //color: #fff;
            //border-top-right-radius: 20px;

            //border-top-left-radius: 20px;
        }

        .menu-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #000;
            text-decoration: none;
            transition: all .3s ease;

            justify-content: center;
            //background: #888080;
            width: 100px;

            //width: 100%;
            font .menu-nav-link-text {
                font-size: 20px;
                font-weight: bold;
                //color: #9E9E9E;
                width: 100%;
                margin-left: 1.5rem;
            }
        }
    }

    .menu-nav-item:hover {
        .menu-nav-link {
            //border-bottom: solid 3px #3818D9;
            //border-radius: 0px 20px 0px 20px;
            color: #ab3535;
            font-weight: 500;
            letter-spacing: 2px;
            font-weight: bold;
        }
    }
}
.hamburger {
    border: none;
    background: none;
}
::ng-deep .cdk-overlay-connected-position-bounding-box{
    position: relative;
}
.nodata {
    width: 200px;
    height: 100px;
    font-size: 24px;
    font-weight: 600;

    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    letter-spacing: 2px;

    height: 100px;
    position: absolute;
    top: 50%;
    left: calc(50% - 48px);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
}

@keyframes glow {
    from {
        text-shadow: 0px 0px 5px #fff, 0px 0px 5px #000;
    }

    to {
        text-shadow: 0px 0px 40px #fff, 0px 0px 40px #000;
    }
}