#container {
    // padding: 10px;
    // background-color: #fff;
    // color: #61A66A;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 100vh;
    // flex-direction: column;
    // gap:10px;
    //border: 1px solid red;
    //box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: var(--width);
    height: var(--size);
    background-image: linear-gradient(to right, #3818d9, #79b0e2);

    h1 {
        margin: 0px;
        color: #61A66A;
    }

    //margin: 40px;
}

.bodycontainer {
    //width: 600px;
    width: var(--size);
    min-width: 300px;
    //background-image: linear-gradient(to right, #3818d9, #79b0e2);
    padding: 0px 0px 30px 0px;
    border-radius: 20px;

    input {
        border: solid 1px #3818d9;
        border-radius: 10px;
        padding: 10px;
        outline: none;
        color: #3818d9;
    }

    input::placeholder {
        color: #3818d9;
    }

    textarea {
        border: solid 1px #3818d9;
        border-radius: 10px;
        padding: 10px;
        outline: none;
        color: #3818d9;
        resize: vertical;
    }

    textarea::placeholder {
        color: #3818d9;
    }
}

.card {
    width: 100%;
    padding: 0px 0px 20px 0px;
    background: rgba(255, 255, 255, 0.41);
    border: 1px solid rgba(255, 255, 255, 0.92);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    --webkit-backdrop-filter: blur(2.1px);
    
}


.formuser {
    display: flex;
    flex-direction: column;
    gap: 10px;

    subgroup {
        display: flex;
        gap: 10px;
    }
}

button {
    //background-color: #fff;
    color: #000;
    font-family: 'Merienda', cursive;
    //border: solid 0.5px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    letter-spacing: 2px;

    background: rgba(255, 255, 255, 0.71);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.92);
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    letter-spacing: 2px;
}

button:hover {
    //background: #61A66A;
    color: white;
    font-family: 'Merienda', cursive;
    font-weight: 600;
    //border: none;
    //box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.92);
    
}

.companycard {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;

    .companycard-header {
        height: auto;

    }

    .companycard-title {
        border: solid 0.5px;
    }
}

.companycard:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
}


#flex-container {
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.flex-item {
    padding: 1em;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
}

.flex-item>div {
    //border: 1px solid blue;
    flex: 1 1 auto;
}

.card-title {
    color: white;
    font-family: 'Merienda', cursive;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    letter-spacing: 2px;
}
@keyframes glow{
    // from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
    // to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
    from{text-shadow:0px 0px 5px #fff,0px 0px 5px #a6fd29;}
    to{text-shadow:0px 0px 20px #fff,0px 0px 20px #a6fd29;}
  }