<app-newticketmodal *ngIf="generalSerive.showDialog"></app-newticketmodal>
<div class="container">
    <div class="header">
        <div class="headerlabel">
            Settings
        </div>
    </div>
    <div class="ticketbody">
        <div class="bodyheader">
            <div class="menu-nav-bar">
                <ul class="menu-nav">
                    <li class="menu-nav-item" *ngFor="let data of menuData">
                        <a class="menu-nav-link" [routerLink]="[data.routerLink]" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            <span class="menu-nav-link-text">{{data.label}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bodycontent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>