<div class="title-container">
    <div class="sub-title-container">
        <img class="logo" src="assets/image/logo.gif">
        <h1>TikSy</h1>
    </div>
</div>
<div class="mini-title-container">
    <div class="submini-title-container">
        <h4>Set Password</h4>
        <mat-icon class="arrow-back">arrow_back</mat-icon>
    </div>
</div>
<form class="form-container" [formGroup]="form">
    <div class="sub-form-container">
        <div style="margin-top: 10px;">
            <label>
                New Password
            </label>
        </div>
        <div class="input-container">
            <input [type]="!showPassword?'password':'text'" formControlName="newPassword" [readOnly]="isSuccess">
            <mat-icon class="icon-suffix" (click)="showPassword=!showPassword">{{!showPassword?'visibility_off':'visibility'}}</mat-icon>
        </div>
        <div style="margin-top: 10px;">
            <label>
                Confirm Password
            </label>
        </div>
        <div class="input-container">
            <input [type]="!showConfirmPassword?'password':'text'" formControlName="confirmPassword" [readOnly]="isSuccess">
            <mat-icon class="icon-suffix" (click)="showConfirmPassword=!showConfirmPassword">{{!showConfirmPassword?'visibility_off':'visibility'}}</mat-icon>
        </div>
        <div class="msg-error-container">
            <mat-label *ngIf="!validation.passwordMatch">Password doesn't match</mat-label>
        </div>
    </div>
</form>
<div class="button-container">
    <button mat-flat-button (click)="onSubmit()" [disabled]="isSuccess">
        Set Password
    </button>
</div>
<div class="validation-container" *ngIf="!isValidation">
    <div class="sub-validation-container">
        <div class="case-container">
            <mat-icon [color]="validation.lowercase?'primary':'warn'">close</mat-icon>
            <mat-label [style]="validation.lowercase?'color:green':'color:red'">A lowercase letter</mat-label>
        </div>
        <div class="case-container">
            <mat-icon [color]="validation.uppercase?'primary':'warn'">close</mat-icon>
            <mat-label [style]="validation.uppercase?'color:green':'color:red'">A capital (uppercase) letter</mat-label>
        </div>
        <div class="case-container">
            <mat-icon [color]="validation.number?'primary':'warn'">close</mat-icon>
            <mat-label [style]="validation.number?'color:green':'color:red'">A number</mat-label>
        </div>
        <div class="case-container">
            <mat-icon [color]="validation.specialChar?'primary':'warn'">close</mat-icon>
            <mat-label [style]="validation.specialChar?'color:green':'color:red'">A special character</mat-label>
        </div>
        <div class="case-container">
            <mat-icon [color]="validation.length?'primary':'warn'">close</mat-icon>
            <mat-label [style]="validation.length?'color:green':'color:red'">Minimum of 6 characters</mat-label>
        </div>
    </div>
</div>

<div class="success-container" *ngIf="isSuccess">
    <div>
        <div class="success-icon">
            <mat-icon color="primary">check_circle</mat-icon>
        </div>
        <div color="primary">
            <label>Redirecting to login in {{countdown}}s</label>
        </div>
    </div>
</div>