<div class="modaloverlay" (click)="closeddialog()"></div>
<div class="modalcontainer">
    <div class="modalheader">
        <label >{{Header}}</label>
        <!-- <button class="fa fa-times" (click)="closeddialog()"></button> -->
    </div>
    <div class="modalbody">
        {{Message}}
    </div>
    <div class="modalfooter">
        <div class="footerbody">
            <div [ngClass]="isConfirm ? 'savebutton' : 'errorbutton'" (click)="closeddialog()">
                <button>Close</button>
                <!-- <i class="fa fa-plus"></i> -->
            </div>
            
        </div>
    </div>
</div>