:host ::ng-deep .mat-mdc-menu-panel {
    margin-top: 10px;
}

:host ::ng-deep .mat-mdc-menu-panel,.mat-menu-below,.mat-menu-before{
    margin-top: 5px;
}

@media screen and (min-width: 1131px) {
    .sidenav-container{
        display: none;
    }
    .sidenav {
        background: #fff;
        transition: all .5s ease;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 5rem;
        height: 100vh;
        // box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
        box-shadow: 0.063rem 0 0.15rem 0 #3818D9;
        //border-top: solid 0.5px #3818D9;
        overflow: auto;
    
    
        .logo-container {
            display: flex;
            align-items: center;
            padding: 0.938rem 0.938rem 0 0.938rem;
            width: 100%;
    
    
            .logo {
                background: #fff;
                text-align: center;
                width: 3rem;
                min-width: 3rem;
                border-radius: 0.313rem;
                padding: 0.313rem;
                font-size: 24px;
                font-weight: 900;
                cursor: pointer;
                border: none;
    
                .ticketlogo {
                    height: 50px;
                    width: auto;
                    //padding: 10px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                }
            }
    
            .logo-text {
                margin-left: 1.5rem;
                font-size: 24px;
                font-weight: 700;
                color: #3818D9;
            }
    
            .btn-close {
                margin-left: auto;
                cursor: pointer;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: transparent;
                border: none;
    
                .fa-bars {
                    color: #000;
                    font-size: 24px;
                }
            }
        }
    
        .sidenavfooter {
            height: 20%;
    
            .userdetails {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                height: 100%;
                align-items: end;
    
                .user {
                    display: flex;
                    align-items: center;
                    padding: 0px 0px 0px 20px;
    
                    .profpic {
                        box-shadow: 0px 4px 20px 0px #00000040;
    
                        border: solid 10px #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px;
                        border-radius: 50px;
    
                        img {
                            height: 60px;
                            width: 60px;
                            border-radius: 50px;
                        }
                    }
                    .profpic:hover{
                        cursor: pointer;
                    }
                }
    
                .userinfo {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0px 0px 0px 20px;
                    cursor: pointer;
    
                    .info {
                        display: flex;
                        gap: 5px;
                        flex-direction: column;
                        cursor: pointer;
                        label{
                        cursor: pointer;
                        }
                    }
                }
    
                .logout {
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                }
                .logout:hover{
                    font-size: 26px;
                    cursor: pointer;
                }
            }
            .userdetails1 {
                display: flex;
                justify-content: flex-start;
                padding: 0.938rem;
                height: 100%;
                align-items: end;
    
                .user {
                    display: flex;
                    align-items: center;
                    padding: 0px 0px 0px 20px;
    
                    .profpic {
                        box-shadow: 0px 4px 20px 0px #00000040;
    
                        border: solid 10px #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px;
                        border-radius: 50px;
    
                        img {
                            height: 60px;
                            width: 60px;
                            border-radius: 50px;
                        }
                    }
                    .profpic:hover{
                        cursor: pointer;
                    }
                }
    
                .userinfo {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0px 0px 0px 20px;
    
                    .info {
                        display: flex;
                        gap: 5px;
                        flex-direction: column;
                    }
                }
    
                .logout {
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                }
                .logout:hover{
                    font-size: 26px;
                    cursor: pointer;
                }
            }
        }
    
    }
    
    
    .sidenav-collapsed {
        //width: 16.5325rem;
        width: 362px;
        height: 100%;
        overflow-y: auto;
        scrollbar-width: none;
    }
    
    .sidenav-nav {
        list-style: none;
        padding: 0.938rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        //height: calc(100% - 15.65rem);
        height: calc(100% - (26% + 0.938rem));
        cursor: pointer;

        .ticket-unsolved-counter{
            --mat-badge-background-color: #ff4081;
            --mat-badge-text-color: #fff;
        }
    
        .sidenav-nav-item {
            width: 100%;
            margin-bottom: 0.625rem;
    
            .sidenav-nav-link {
                display: flex;
                align-items: center;
                height: 3rem;
                //color: #f3f3f3;
                color: #000;
                text-decoration: none;
                border-radius: 0.625rem;
                transition: all .3s ease;
    
                .sidenav-link-icon {
                    text-align: center;
                    //color:rgb(117, 113, 113);
                    font-size: 22px;
                    width: 2rem;
                    min-width: 2rem;
                    text-align: center;
                }
    
                .sidenav-link-text {
                    margin-left: 1.5rem;
                }
                .receivedticketstab{
                    display: flex;
                    gap: 20px; 
                    align-items: center;
                }
                .receivedtickets{
                    display: flex; 
                    align-items: center; 
                    justify-content: center; 
                    border: red 1px solid;
                    background: white;
                    color: red;
                    border-radius: 50px; 
                    width: 40px; 
                    height: 40px;
                }
                .receivedtickets1{
                    color: white;
                }
            }
        }
    
        .sidenav-nav-item:hover {
            .sidenav-nav-link {
                // background-color: #fff;
                // color: #000;
                background-color: #3818D9;
                color: #fff;
                letter-spacing: 3px;
            }
            .receivedtickets{
                background: white;
            }
            .receivedtickets{
                background-color: white;
                color: red;
            }
        }
    }
    
    .profile{
        font-size: 20px;
        padding-inline-start: 0px;
        width: 32.5px;
    }

    .active {
    background-color: #3818D9;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: #fff;
    }
}
}

@media screen and (max-width: 1130px){
    .sidenav{
        display: none;
    }
    .sidenav-container{
        // position: fixed;
        // background: #3818D9;
        width: 100%;
        // mat-toolbar{
        //     padding: 8px;
        // }
        mat-toolbar{
            width: 100%;
        }
        .menubar{
            // height: 100%;
            margin-left: 8px;
        }
        z-index: 1000;
    }
    
    .logo{
        height: 50px;
        width: 50px;
        // position: fixed;
        overflow: hidden;
        padding: 5px;
        img{
            height: 100%;
            width: 100%;
            margin: auto;
        }
    }
    
    .menubar a{
            display: inline-flex;
            padding: 8px;
            font-size: 16px;
            text-decoration: none;
            // background: red;
    }

    .logout-panel{
        // width: 100%;
        position: absolute;
        right: 25px;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .logout-panel:hover{
        cursor: pointer;
    }

    .logout-image{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 20px -6px;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }

    .logout-name{
        span{
            font-size: 16px;
        }
    }

    .m-logout-panel{
        display: none;
    }

    .active{
        background-color: #3818D9;
        border-radius: 10px;
        .sidenav-link-text {
            color: #fff;
        }
    }
}

@media screen and (max-width: 721px){
    .logout-name{ display: none;}
}

@media screen and (max-width: 549px){
    .sidenav{
        display: none;
    }

    .sidenav-container{
        width: 100%;
        .menubar{
            margin-left: 0px;
            z-index: 1001;
        }
        mat-toolbar{
            height: 100%;
            display: block;
            text-align: center;
        }
        // z-index: 1000;
    }
    
    .logo{
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        padding: 5px;
        img{
            height: 50px;
            width: 50px;
            margin: auto;
        }
    }
    
    .menubar a{
        width: 100%;
        display: block;
        padding: 8px;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        // background: red;
    }
    
    .menu-item:hover{
        background: rgb(#000,0.1);
    }

    .logout-panel{
        display: none;
    }

    .m-logout-panel{
        height: 48px;
        width: 100%;
        // padding: 5px;
        display: flex;
        // padding: 8px;
        .btn-logout{
            height: 100%;
            width: 100%;
            color: #3818D9;
            font-size: 16px;
        }
    }
}

