<div class="modaloverlay" (click)="closeddialogNewCategory()"></div>
<div class="modalcontainer" [formGroup]="form">
    <div class="modalheader">
        <label for="">Create Category</label>
        <button class="fa fa-times" (click)="closeddialogNewCategory()"></button>
    </div>
    <div class="modalbody">
        <div class="deptcard">
            <label for="">Category Name</label>
            <div class="deptinput">
                <input type="text" placeholder="Category Name" formControlName="Category">
            </div>
        </div>
    </div>
    <div class="modalfooter">
        <div class="footerbody">
            <div class="savebutton" (click)="newdialogNewCategory()">
                <button>Save</button>
                <i class="fa fa-plus"></i>
            </div>
            <div class="closebutton" (click)="closeddialogNewCategory()">
                <button>Close</button>
                <i class="fa fa-times"></i>
            </div>
            
        </div>
    </div>
</div>