<mat-stepper #stepper>
    <mat-step class="mat-step-container">
        <div class="header">
            <h1>Tickets</h1>
            <!-- <button class="btn-newTicket" mat-flat-button (click)="openDialog()">
                New Ticket
            </button> -->
        </div>
        <div class="filter-container" >
            <div class="txt-search">
                <input type="text" placeholder="Search tickets" #search [(ngModel)]="searchValue" (keydown.Enter)="searchTicket(search.value)">
                <mat-icon>search</mat-icon>
            </div>
            <div class="btn-filter">
                <!-- <mat-icon>filter_alt</mat-icon>
                <span>Filter</span> -->
                <button mat-button (click)="filter()">
                    <mat-icon class="swap-icon">swap_vert</mat-icon>
                    <mat-icon class="filter-icon">filter_list</mat-icon>
                    Filter
                </button>
            </div>
        </div>
        <mat-tab-group mat-stretch-tabs="false" [selectedIndex]="tab" mat-align-tabs="start" #tabRef>
            <mat-tab class="tab-container">
                <ng-template class="tab-label" mat-tab-label>
                    <span style="font-size: 20px;">Unassigned</span>
                    <span class="mat-badge-icon" *ngIf="unassigned > 0" matBadge={{unassigned}} matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab:tabRef.selectedIndex, IsReset: false})">
                            <mat-card *cdkVirtualFor="let item of collections; index as i" matRipple (click)="next(item, i)" [ngClass]="item.S_OPN ? '' : 'isnotOpen'"> 
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}
                                        <span><mat-icon *ngIf="item.attachment != null">attach_file</mat-icon></span>
                                    </mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>Unassigned</label>
                                        </div>
                                        <div [class]="'action-'+item.priorityName.toLowerCase()">
                                            <label>{{item.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label matBadgeColor="accent">
                    <span style="font-size: 20px;">Assigned</span>
                    <span class="mat-badge-icon" *ngIf="assigned > 0" matBadge={{assigned}} matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab:tabRef.selectedIndex, IsReset: true})">
                            <mat-card *cdkVirtualFor="let item of collections index as i" (click)="next(item, i)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}
                                        <span><mat-icon *ngIf="item.attachment != null">attach_file</mat-icon></span>
                                    </mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>
                                                {{
                                                    !!item.assignedId?item.assignedName
                                                    :item.departmentName
                                                }}
                                            </label>
                                        </div>
                                        <div [class]="'action-'+item.priorityName.toLowerCase()">
                                            <label>{{item.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span style="font-size: 20px;">Resolved</span>
                    <span class="mat-badge-icon" *ngIf="allticket > 0" matBadge={{resolve}} matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab:tabRef.selectedIndex, IsReset: true})">
                            <mat-card *cdkVirtualFor="let item of collections index as i" (click)="next(item, i)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}
                                        <span><mat-icon *ngIf="item.attachment != null">attach_file</mat-icon></span>
                                    </mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>
                                                {{
                                                    !!item.assignedId?item.assignedName
                                                    :!!item.departmentId&&item.status!==1?item.departmentName
                                                    :'Unassigned'
                                                }}
                                            </label>
                                        </div>
                                        <div [class]="'action-'+item.priorityName.toLowerCase()">
                                            <label>{{item.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span style="font-size: 20px;">All</span>
                    <span class="mat-badge-icon" *ngIf="allticket > 0" matBadge={{allticket}} matBadgeColor="accent"></span>
                </ng-template>
                <ng-template class="tab-content" matTabContent>
                    <div class="ticket-list-container">
                        <cdk-virtual-scroll-viewport class="scrolling-container" [itemSize]="196" (scrolledIndexChange)="nextBatch({tab:tabRef.selectedIndex, IsReset: true})">
                            <mat-card *cdkVirtualFor="let item of collections index as i" (click)="next(item, i)">
                                <mat-card-header>
                                    <mat-card-title>{{item.title}}
                                        <span><mat-icon *ngIf="item.attachment != null">attach_file</mat-icon></span>
                                    </mat-card-title>
                                    <span style="font-size: 18px;">{{dateFormatted(true,item.dateCreated)}}</span>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{item.description}}</p>
                                </mat-card-content>
                                <mat-card-footer>
                                    <mat-card-actions class="card-section">
                                        <div class="action-unassign">
                                            <label>
                                                {{
                                                    !!item.assignedId?item.assignedName
                                                    :!!item.departmentId&&item.status!==1?item.departmentName
                                                    :'Unassigned'
                                                }}
                                            </label>
                                        </div>
                                        <div [class]="'action-'+item.priorityName.toLowerCase()">
                                            <label>{{item.priorityName}}</label>
                                        </div>
                                    </mat-card-actions>
                                </mat-card-footer>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-step>
    <mat-step>
        <div class="ticket-container">
            <div class="ticket-content" *ngIf="ticketDetail">
                <div class="ticket-header">
                    <p class="ticket-toolbar">
                        <mat-icon (click)="goBack()">arrow_back</mat-icon>
                        <span>
                            <h1>{{ticketDetail.title}}</h1>
                        </span>
                        <span class="ticketno">#{{ticketDetail.ticketNo}}</span>
                    </p>
                    <p class="ticket-description">{{ticketDetail?.description}}</p>
                </div>
                <!-- <div class="ticket-comment">
                    <app-ticket [detail]="ticketDetail" [messageHandler]="ticketDetail.messageHandler"></app-ticket>
                </div> -->
                <div class="cthbody">
                    <div class="body">
                        <div class="bodyheader">
                            <div class="cthbodyheader">
                                <label for="">Conversation</label>
                                <mat-icon>more_vert</mat-icon>
                            </div>
                        </div>
                        <div #tabsContentRefComment [scrollTop]="tabsContentRefComment.scrollHeight"
                            class="bodycontent">
                            <div class="commentlist" *ngFor="let data of ticketcomment">

                                <div class="notyourcomment" *ngIf="!data.IsYou && data.isMessage && !!data.Message">
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                    <div class="commentcard">
                                        <div class="message" *ngIf="data.isMessage && !data.isImage" [innerText]="data.Message">
                                        </div>
                                        <div class="attachmFile" *ngIf="data.isImage">
                                            <img *ngIf="data.ImageAttachment != ''" src={{data.ImageAttachment}} alt="">
                                            <img *ngIf="data.ImageAttachment == ''"
                                                src="assets/image/icon_blank_profile.png" alt="">
                                        </div>

                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="isyourcomment" *ngIf="data.IsYou && data.isMessage && !!data.Message">
                                    <div class="yourcommentcard">
                                        <div class="message" *ngIf="data.isMessage && !data.isImage" [innerText]="data.Message">
                                        </div>
                                        <div class="attachmFile" *ngIf="data.isImage">
                                            <img *ngIf="data.ImageAttachment != ''" src={{data.ImageAttachment}} alt="">
                                            <img *ngIf="data.ImageAttachment == ''"
                                                src="assets/image/icon_blank_profile.png" alt="">
                                        </div>
                                        <div class="commenter">
                                            <div>{{data.DisplayName}}</div>
                                            <label for="">{{data.CommentDate}}</label>
                                        </div>
                                    </div>
                                    <div class="profpic">
                                        <img src="assets/image/icon_blank_profile.png" alt="">
                                    </div>
                                </div>
                                <div class="isforwarded" *ngIf="!data.IsYou && !data.isMessage">
                                    <div class="forwarded">
                                        <label for="">Ticket has been forwarded to&nbsp;</label>
                                        <div class="forwardinfo"> {{data.Department}}&nbsp;>&nbsp;{{data.DisplayName}}
                                        </div>
                                    </div>
                                    <div class="messageinfo">
                                        <div class="message">{{data.Message}}</div>
                                        <div class="date">{{data.CommentDate}}</div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="cthfooter" *ngIf="(ticketDetail?.status!==1&&ticketDetail.ticketStatusId!==2)||!(ticketDetail?.ticketStatusId===3||ticketDetail?.ticketStatusId===1||ticketDetail?.ticketStatusId===2)">
                    <div class="footerbody">
                        <div class="commentcontent" [formGroup]="commentform">
                            <textarea formControlName="Message" name="" id="" rows="4"
                                placeholder="Write  your response for issue"></textarea>
                        </div>
                        <div class="buttoncomment">

                            <div class="attachmentcomment">

                                <label for="file1">

                                    <div class="fa fa-paperclip"></div>
                                    <span>Attachment</span>

                                </label>

                                <input *ngIf="uploaded.length < 5" #fileInput id="file1" type="file"
                                    accept=".png, .jpg, .gif" name="file"
                                    (change)="onFileSelected($event, fileInput)" />
                            </div>
                            <button (click)="hSendComment()">Send</button>
                        </div>
                    </div>

                </div>
                <!-- <div class="acknoledgefooter" *ngIf="Status == 6 || ticketDetail?.status === 6">
                    <div class="acknowledge">
                        <div class="footerbody">
                            <label class="label1" for="">This ticket is closing</label>
                            <label class="label2" for="">Wait for the requester to confirm to finalize closure</label>
                            <label class="label3" for="" (click)="decline()">or cancel</label>
                        </div>
                    </div>
                </div> -->
                <div class="acknoledgefooter" *ngIf="ticketDetail?.ticketStatusId===2">
                    <div class="acknowledge">
                        <div class="footerbody" *ngIf="ticketDetail?.ticketStatusId===2">
                            <label class="label1" for="">This ticket is cancelled</label>
                        </div>
                    </div>
                </div>
                <div class="acknoledgefooter" *ngIf="ticketDetail?.ticketStatusId===1">
                    <div class="acknowledge">
                        <div class="footerbody" *ngIf="ticketDetail?.ticketStatusId===1">
                            <label class="label1" for="">This ticket is resolved</label>
                        </div>
                    </div>
                </div>
                <div class="acknoledgefooter" *ngIf="ticketDetail?.status===1&&ticketDetail?.ticketStatusId===3">
                    <div class="acknowledge">
                        <div class="footerbody">
                            <label class="label1" for="">This ticket is closing</label>
                            <label class="label2" for="">Wait for the requester to confirm to finalize closure</label>
                            <label class="label3" for=""> <span (click)="decline()">or cancel</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-info-content">
                <div class="side-inner-content">
                    <mat-card class="card-requester-detail">
                        <mat-card-header>
                            <mat-card-title>Requester Detail</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="icon-img">
                                <!-- <mat-icon>flutter_dash</mat-icon> -->
                                <img [src]="(ticketDetail?.requestProfImage||'assets/image/icon_blank_profile.png')">
                            </div>
                            <div class="requester-name">
                                <span [matTooltip]="ticketDetail?.requestName">{{ticketDetail?.requestName}}</span>
                                <span class="username">&#64;{{ticketDetail?.requestNickname??'terminator'}}</span>
                            </div>
                        </mat-card-content>
                        <!-- <mat-card-footer>
                        </mat-card-footer> -->
                    </mat-card>
                    <mat-card class="card-ticket-info">
                        <mat-card-header>
                            <mat-card-title>Ticket Info</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <label>
                                <p>Ticket ID:&emsp;<span class="ticketno">#{{ticketDetail?.ticketNo}}</span></p>
                            </label>
                            <label>
                                <p>Created:&emsp;<span>{{dateFormatted(false,ticketDetail?.dateCreated)}}</span></p>
                            </label>
                            <label>
                                <p>Elapsed Time:&emsp;<span>{{ticketDetail?.elapsedTime}}</span></p>
                            </label>
                            <label>
                                <p>Status:&emsp;<span [class]="'ticket-'+ticketDetail?.ticketStatus.toLowerCase()">{{ticketDetail?.ticketStatus}}</span></p>
                            </label>
                            <label>
                                <p>Priority:&emsp;<span [class]="'action-'+ticketDetail?.priorityName.toLowerCase()"><label class="label-priority">{{ticketDetail?.priorityName}}</label></span></p>
                            </label>
                        </mat-card-content>
                        <mat-card-footer></mat-card-footer>
                    </mat-card>
                    <mat-card class="assignedTo-info" *ngIf="ticketDetail?.status!==1">
                        <mat-card-header>
                            <mat-card-title>Assigned-To</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span><h4>Department</h4></span>
                            <div class="detail">
                                <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div>
                                <div class="requester-name">
                                    <span>{{ticketDetail?.departmentName}}</span>
                                    <span class="username">&#64;{{ticketDetail?.departmentName.toLowerCase().replace(' ','')}}</span>
                                </div>
                            </div>
                            <span *ngIf="ticketDetail?.isAssigned"><h4>Name</h4></span>
                            <div class="detail" *ngIf="ticketDetail?.isAssigned">
                                <div class="icon-img">
                                    <!-- <mat-icon>flutter_dash</mat-icon> -->
                                    <img [src]="(ticketDetail?.assignedProfImage||'assets/image/icon_blank_profile.png')">
                                </div>
                                <div class="requester-name">
                                    <span [matTooltip]="ticketDetail?.assignedName">{{ticketDetail?.assignedName}}</span>
                                    <span class="username">&#64;{{ticketDetail?.assignedNickname??'terminator'}}</span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="assignedTo-info" *ngIf="ticketDetail?.status===1">
                        <mat-card-header>
                            <mat-card-title>{{this.ticketDetail?.status===1&&(this.ticketDetail?.ticketStatusId===3||this.ticketDetail?.ticketStatusId===4)?'For-Resolve':'Request-To-Forward'}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span><h4>Department</h4></span>
                            <div class="detail">
                                <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div>
                                <div class="requester-name">
                                    <span>{{ticketDetail?.departmentName}}</span>
                                    <span class="username">&#64;{{ticketDetail?.departmentName.toLowerCase().replace(' ','')}}</span>
                                </div>
                            </div>
                            <!-- <span *ngIf="ticketDetail?.isAssigned"><h4>Name</h4></span>
                            <div class="detail" *ngIf="ticketDetail?.isAssigned">
                                <div class="icon-img">
                                    <mat-icon>flutter_dash</mat-icon>
                                </div>
                                <div class="requester-name">
                                    <span>{{ticketDetail?.assignedName}}</span>
                                    <span class="username">&#64;{{ticketDetail?.assignedUsername??'terminator'}}</span>
                                </div>
                            </div> -->
                        </mat-card-content>
                    </mat-card>
                    <div class="footer-inner-container" >
                        <div class="inner-content">
                            <div class="assign-to">
                                <!-- <div class="searchbar">
                                    <div class="select-label"><mat-label>Category</mat-label></div>
                                    <div class="custom-select">
                                        <mat-select [value]="ticketDetail?.categoryId" *ngIf="ticketDetail?.categoryId" disabled>
                                            <mat-option [value]="ticketDetail?.categoryId">{{ticketDetail?.categoryName}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="searchbar">
                                    <div class="select-label"><mat-label>Department</mat-label></div>
                                    <div class="custom-select">
                                        <mat-select [value]="this.ticketDetail?.assignedDepartment">
                                            <mat-option *ngFor="let department of departments" [value]="department.DepartmentID" (click)="selectedDepartment(department)">{{department?.DepartmentName}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="searchbar">
                                    <div class="select-label"><mat-label>Priority</mat-label></div>
                                    <div class="custom-select">
                                        <mat-select [value]="ticketDetail?.priorityLevel.toString()" disabled>
                                            <mat-option value="0">Low</mat-option>
                                            <mat-option value="1">Medium</mat-option>
                                            <mat-option value="2">Urgent</mat-option>
                                        </mat-select>
                                    </div>
                                </div> -->

                                <div class="footer-buttons0" *ngIf="ticketDetail?.attachment != null">
                                    <button class="btn-attachment" mat-flat-button (click)="hViewAttachment()">
                                        <mat-icon iconPositionEnd>photo_library</mat-icon>
                                        Attachments
                                    </button>
                                </div>
                                <div class="footer-buttons" *ngIf="ticketDetail?.status===1&&!(ticketDetail?.ticketStatusId===3||ticketDetail?.ticketStatusId==1)">
                                    <button class="btn-forward" mat-flat-button (click)="onForwardTicket()">
                                        Forward
                                        <mat-icon iconPositionEnd>east</mat-icon>
                                    </button>
                                    <button class="btn-resolve" mat-flat-button (click)="onResolvingTicket()" *ngIf="ticketDetail?.status===1&&ticketDetail.ticketStatusId===4">
                                        Resolve
                                        <mat-icon iconPositionEnd>east</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-step>
</mat-stepper>
<div class="nodata" *ngIf="collections.length == 0">No data</div>
<div class="loader" *ngIf="loader"></div>

<!-- <mat-tab *ngIf="isTicketContentShow">
    
</mat-tab> -->